.Sup_contain_section_contain{
   margin-top: 20px;
}
.Sup_contain_section_contain p{
    margin: 15px 0px;
}
/*按钮*/

.Sup_contain_section_contain_button>button:nth-child(2) {
     margin-left: 50px;
     margin-right: 20px;
 }
.Sup_contain_section_contain_button>button:nth-child(3) {
    margin-left: 20px;
}
.Sup_contain_section_contain_head_button{
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    color: white;
    background-color: #4BA0D6;
}
.Sup_contain_section_contain_head_button a{
    display: inline-block;
    width: inherit;
    height: inherit;
}
.Sup_contain_section_contain_head_button a:hover{
    text-decoration: none;
    color: inherit;
}
.fleft{
    float: none;
    text-align: right;
}
.Head_title_num{
    font-size: 20px;
    text-align: center;
}
/*隐藏input边框*/
.diy-input-nobody>TR>TD>input{
    border-left:0px;
    border-top:0px;
    border-right:0px;
    border-bottom:1px;
}