<link rel="stylesheet" href="../../assets/css/monitor/task.css"/>
<link rel="stylesheet" href="../../assets/css/monitor/base.css"/>
<link rel="stylesheet" href="../../assets/css/monitor/subjSvList.css"/>
<link rel="stylesheet" href="../../libs/bootstrap/bootstrap-3.3.5-dist/css/bootstrap.css"/>
<script type="text/javascript" src="../../../../libs/eCharts/echarts.min.js"></script>
<div class="gui-breadcrumbs">
    <a href="#"  ui-sref="index.content.monitor/execUnit/Recheck/routineMonitoringRecheck">复检任务</a>&gt;
    <span>任务详情</span>
</div>
<div class="gui-section">
    <ul class="gui-tab">
        <li role="presentation" class="active"><a ng-click="recheckTaskDetail()">任务详情</a></li>
        <li role="presentation" class="pointer"><a ng-click="routineMonitorList()">检测信息汇总</a></li>
    </ul>
</div>
    <div class="col-md-12" style="margin-left: 10px">
        <h5 class="col-md-10">任务详情</h5>
        <span style="display: none;" id="taskName">{{detail.taskName}}</span>
    <table class="gui-table mt15" style="width: 100%">
        <tr>
            <td style="width: 20%">发布单位</td>
            <td ng-bind="detail.releaseUnit" style="width: 30%"></td>
            <td style="width: 30%">年度</td>
            <td ng-bind="detail.year" style="width: 20%"></td>
        </tr>
        <tr>
            <td>任务开始时间及结束时间</td>
            <td>{{detail.startTime}}——{{detail.endTime}}</td>
            <td>抽样结果上报截止时间</td>
            <td ng-bind="detail.deadline"></td>
        </tr>
        <tr>
            <td>工作类型</td>
            <td ng-bind="detail.monitorClass"></td>
            <td>行业</td>
            <td ng-bind="detail.industry"></td>
        </tr>
        <tr>
            <td>抽检分离</td>
            <td ng-if="detail.separation==0">否</td>
            <td ng-if="detail.separation==1">是</td>
            <td>判定标准</td>
            <td><a ng-bind="detail.judgeStandard" ng-click="showCheckObjectModal()"></a></td>
        </tr>
        <tr>
            <td>附件</td>
            <td ng-bind="detail.attachment"></td>
            <td>任务优先级</td>
            <td>{{priority}}</td>
        </tr>
        <tr>
            <td>备注</td>
            <td colspan="3" ng-bind="detail.comment"></td>
        </tr>
        <tr>
            <td>抽样环节</td>
            <td colspan="3" ng-bind="detail.sampleLink"></td>
        </tr>
        <tr>
            <td style="line-height: 70px">检测对象</td>
            <td colspan="3" >
                <span id="v_checkObject" ng-bind="detail.checkObject"></span>
            </td>
        </tr>
        <tr>
            <td style="line-height: 70px">检测项目</td>
            <td colspan="3">
                <span id="v_checkProject" ng-bind="detail.checkProject"></span>
            </td>
        </tr>
    </table>
    <table class="gui-table mt15" style="width: 100%" >
        <tr >
            <td>抽样机构</td>
            <td>检测机构</td>
            <td>地区与数量</td>
        </tr>
        <tr ng-repeat="x in organList">
            <td>
                {{x.sampleOrgan}}
                <span ng-if="x.deparmentId == x.sampleOrganId" class="glyphicon glyphicon-ok text-info"></span>
            </td>
            <td>
                {{x.detectionOrgan}}
                <span ng-if="x.deparmentId == x.detectionOrganId" class="glyphicon glyphicon-ok text-info"></span>
            </td>
            <td>{{x.cityCode}}（{{x.numbers}}）</td>
        </tr>
    </table>
    <span class="pull-left">注：以上标<span class="glyphicon glyphicon-ok text-info"></span>的机构负责上传总结报告</span>
    </div>
    <div style="text-align: center;margin-bottom: 5px">
        <span class="gui-btn" style="width: 60px" type="button"  ng-click="returnResume()">返回</span>
    </div>
<!-- 模态框（Modal）查看判定标准 -->
<div class="modal fade" id="dModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-style" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="modalTitle">标准判断</h4>
            </div>
            <div class="modal-body" style="min-height: 100px;">
                <table class="table gui-table table-striped table-hover data-table">
                    <tr>
                        <th>序号</th>
                        <th>监测对象</th>
                        <th ng-repeat="i in items">{{i.name}}</th>
                    </tr>
                    <tr id="{{x.id}}" ng-repeat="x in adsCheckObject">
                        <td>{{ $index + 1 }}</td>
                        <td>{{x.name}}</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <span class="gui-btn"  data-dismiss="modal">关闭</span>
            </div>
        </div>
    </div>
</div>

<!-- 模态框（Modal）查看监测对象、检测项目 -->
<div class="modal fade" id="xModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-stylesm" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h6 class="modal-title" id="x_title"></h6>
            </div>
            <div class="modal-body" style="min-height: 100px;">
                <span id="x_content"></span>
            </div>
            <div class="modal-footer">
                <span class="gui-btn"  data-dismiss="modal">关闭</span>
            </div>
        </div>
    </div>
</div>




