<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>国家农产品质量安全追溯管理信息平台</title>
    <link rel="stylesheet" href="../../assets/styles/common/common.css">
    <link rel="stylesheet" href="../../assets/styles/dashboard.css">
</head>

<body>
    <header class="gui-header clearfix">
        <div class="section-logo">
            <img src="/assets/imgs/icon/logo.png" alt="国家农产品质量安全追溯管理信息平台（政务办公）" class="logo">
            <h1>国家农产品质量安全追溯管理信息平台<em>（政务办公）</em></h1>
        </div>
    </header>
    <div>
    	<ul class="feature clearfix">
    		<li>
    			<a ui-sref="login/logintts" ng-click="sysName('tts')">
                    <img src="/images/login/monitor.png" alt="" />
                    <span class="text">追溯系统</span>
                </a>
    		</li>
    		<li>
    			<a ui-sref="login/loginasms" ng-click="sysName('asms')">
                    <img src="/images/login/monitor.png" alt="" />
                    <span class="text">监管系统</span>
                </a>
    		</li>
    		<li>
    			<a ui-sref="login/loginmonitor" ng-click="sysName('monitor')">
                    <img src="/images/login/monitor.png" alt="" />
                    <span class="text">监测系统</span>
                </a>
    		</li>
    		<li>
    			<a ui-sref="login/loginales" ng-click="sysName('ales')">
                    <img src="/images/login/monitor.png" alt="" />
                    <span class="text">执法系统</span>
                </a>
    		</li>
    		<li>
    			<a ui-sref="login/logindgap" ng-click="sysName('dgap')">
                    <img src="/images/login/monitor.png" alt="" />
                    <span class="text">数据共享</span>
                </a>
    		</li>
    		<li>
    			<a ui-sref="login/loginsys" ng-click="sysName('sys')">
                    <img src="/images/login/system.png" alt="" />
                    <span class="text">系统管理</span>
                </a>
    		</li>
    	</ul>
    </div>
</body>

</html>
