<div class="gui-breadcrumbs">
    <a href="">内部管理</a>&gt;
    <a href="">产品管理</a>&gt;
    <span>查看</span>
</div>
<div class="gui-section">
    <div class="ovh">
        <ul class="gui-list">
            <li>
                <div class="form-item"><span class="title">所属行业</span>
                    <input ng-model="industry" readonly="readonly" type="text" class="gui-input">
                </div>
            </li>
            <li>
                <div class="form-item"><span class="title">名称</span>
                    <input ng-model="name" readonly="readonly" type="text" class="gui-input">
                </div>
            </li>
            <li>
                <div class="form-item"><span class="title">类型</span>
                    <input ng-model="type" readonly="readonly" type="text" class="gui-input">
                </div>
            </li>
            <li>
                <div class="form-item"><span class="title">规格型号</span>
                    <input ng-model="model" readonly="readonly" type="text" class="gui-input">
                </div>
            </li>
            <li>
                <div class="form-item"><span class="title">图片</span>
                    <input ng-model="picture" readonly="readonly" type="text" class="gui-input">
                </div>
            </li>
            <li>
                <div class="form-item"><span class="title">状态</span>
                    <input ng-model="status" readonly="readonly" type="text" class="gui-input">
                </div>
            </li>
            <li>
                <div class="form-item"><span class="title">自检</span>
                    <input ng-model="selfCheck" readonly="readonly" type="text" class="gui-input">
                </div>
            </li>
            <li>
                <div class="form-item"><span class="title">认证</span>
                    <input ng-model="authentication" readonly="readonly" type="text" class="gui-input">
                </div>
            </li>
            <li>
                <div class="form-item"><span class="title">当前设备IP地址</span>
                    <input ng-model="ip" readonly="readonly" type="text" class="gui-input">
                </div>
            </li>
            <li>
                <div class="text-center">
                    <button class="gui-btn" ng-click="removeLocalStorage()" ui-sref="index.content.tts/tsScltxxcjProduct/TtsScltxxcjProductlist">关闭</button>
                </div>
            </li>
        </ul>
    </div>
</div>
