<link rel="stylesheet" href="assets/css/asms/check/cheRoutine.css" />
<div class="gui-breadcrumbs">
    <a href="">信息查询</a>&gt;
    <a href="">检测信息查询</a>&gt;
    <span>检测任务查询</span>
</div>
<div class="gui-section">
    <form class="gui-form-group">
        <div class="clearfix gov-h">
            <div class="mt15">
                <div class="gui-mediaInline">
                    <span>任务年度：</span>
                    <input id="year" name="queryYear" style="width:180px" onfocus="WdatePicker({skin:'default',dateFmt:'yyyy'})" class="Wdate gui-input" placeholder="选择年份" />
                    <span>创建时间：</span>
                    <input id="cdatebegin" style="cursor: pointer;width: 120px;" name="cstartTime" readonly="readonly" class="Wdate gui-input" type="text" onFocus="var endDate=$dp.$('cdateend');WdatePicker({onpicked:function(){endDate.focus();},maxDate:'#F{$dp.$D(\'cdateend\')}'})" /> 至
                    <input id="cdateend" class="Wdate gui-input" name="cendTime" style="cursor: pointer;width: 120px;" readonly="readonly" type="text" onFocus="WdatePicker({minDate:'#F{$dp.$D(\'cdatebegin\')}'})" />
                    <span>发布时间：</span>
                    <input id="datebegin" style="cursor: pointer;width: 120px;" name="startTime" readonly="readonly" class="Wdate gui-input" type="text" onFocus="var endDate=$dp.$('dateend');WdatePicker({onpicked:function(){endDate.focus();},maxDate:'#F{$dp.$D(\'dateend\')}'})" /> 至
                    <input id="dateend" class="Wdate gui-input" name="endTime" style="cursor: pointer;width: 120px;" readonly="readonly" type="text" onFocus="WdatePicker({minDate:'#F{$dp.$D(\'datebegin\')}'})" />
                </div>
                <div class="gui-mediaInline mt15">
                    <span>任务类型：</span>
                    <div class="gui-select" STYLE="width: 180px;">
                        <select id="monitorClass">
                            <option value="">不限</option>
                            <option value="">例行监测</option>
                            <option value="">专项监测</option>
                            <option value="">监督抽查</option>
                            <option value="">受托检测</option>
                            <option value="">复检任务</option>
                        </select>
                    </div>
                    <span>监测行业：</span>
                    <div class="gui-select" STYLE="width: 180px;">
                        <select id="industry">
                            <option value="">不限</option>
                        </select>
                    </div>
                    <div class="condition-item">
                        <span>发布机构</span>
                        <input class="gui-input" maxlength="30" type="text" placeholder="请输入发布机构" name="rmState" />
                    </div>
                    <div class="condition-item">
                        <span>任务名称</span>
                        <input class="gui-input" maxlength="50" type="text" placeholder="请输入任务名称" name="taskName" />
                    </div>
                    <div class="condition-item condition-custom" ng-show="visibleseparation" data-control="select">
                        <span>抽检分离</span>
                        <div class="gui-select">
                            <select name="separation" id="separation">
                                <option value="">不限</option>
                                <option value="是">是</option>
                                <option value="否">否</option>
                            </select>
                        </div>
                    </div>
                    <div class="condition-item condition-custom" data-control="text" ng-show="visibleorgName">
                        <span>牵头单位</span>
                        <input class="gui-input" ng-model="orgName" maxlength="80" type="text" placeholder="请输入牵头单位" name="orgName" />
                    </div>
                    <div class="mt15 condition-item condition-custom" data-control="text" ng-show="visiblecityCode">
                        <span id="AnyArea">所属区域</span>
                        <div class="gui-select">
                            <select id="sheng">
                                <option value="">省</option>
                            </select>
                        </div>
                        <div class="gui-select">
                            <select id="shi">
                                <option value="">市</option>
                            </select>
                        </div>
                        <div class="gui-select">
                            <select id="xian">
                                <option value="">区/县</option>
                            </select>
                        </div>
                    </div>
                    <div class="condition-item condition-custom" data-control="text" ng-show="visiblecheckUnit">
                        <span>检测单位</span>
                        <input class="gui-input" ng-model="checkUnit" maxlength="80" type="text" placeholder="请输入检测单位" name="checkUnit" />
                    </div>
                    <div class="condition-item condition-custom" data-control="text" ng-show="visiblecheckObject">
                        <span>检测对象</span>
                        <input class="gui-input" ng-model="checkObject" maxlength="80" type="text" placeholder="请输入检测对象" name="checkObject" />
                    </div>
                    <div class="condition-item condition-custom" data-control="text" ng-show="visiblecheckProject">
                        <span>检测项目</span>
                        <input class="gui-input" ng-model="checkProject" maxlength="80" type="text" placeholder="请输入检测项目" name="checkProject" />
                    </div>
                    <div class="condition-item condition-custom" data-control="text" ng-show="visiblesampleUnit">
                        <span>抽样单位</span>
                        <input class="gui-input" ng-model="sampleUnit" maxlength="80" type="text" placeholder="请输入抽样单位" name="sampleUnit" />
                    </div>
                    <div class="condition-item condition-custom" data-control="text" ng-show="visiblesampleArea">
                        <span>抽样地区</span>
                        <input class="gui-input" ng-model="sampleArea" maxlength="80" type="text" placeholder="请输入抽样地区" name="sampleArea" />
                    </div>
                    <div class="condition-item condition-custom" data-control="text" ng-show="visibledeparment">
                        <span>报告上传单位</span>
                        <input class="gui-input" ng-model="deparment" maxlength="80" type="text" placeholder="请输入报告上传单位" name="deparment" />
                    </div>
                </div>
                <div class="gui-mediaInline mt15">
                    <span class="gui-btn" id="toCheck">查询</span>&nbsp;
                    <span class="gui-btn" ng-click="resetTask()">重置</span>
                </div>
            </div>
        </div>
        <span href="#modalCondition" data-toggle="modal" style="margin-top: 20px;" class="custom-condition">自定义条件</span>
    </form>
    <div class="gui-table-panel clearfix">
        <p class="table-total">符合条件的数据总计: {{tableTotal}} 项</p>
    </div>
        <table id="grid" class="gui-table mt15" style="width: 100%">
        </table>
</div>
<!-- Modal -->
<div class="modal fade" id="modalCondition" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">请选择自定义条件</h4>
            </div>
            <div class="modal-body">
                <form novalidate="novalidate">
                    <div class="list-head">
                        <label>
                            <input type="checkbox" class="condition-checked-all" />全选
                        </label>
                    </div>
                    <ul class="gui-list list-condition">
                        <li class="disabled">
                            <label>
                                <input type="checkbox" checked disabled />任务年度
                            </label>
                        </li>
                        <li class="disabled">
                            <label>
                                <input type="checkbox" checked disabled>创建时间
                            </label>
                        </li>
                        <li class="disabled">
                            <label>
                                <input type="checkbox" checked disabled>任务名称
                            </label>
                        </li>
                        <li class="disabled">
                            <label>
                                <input type="checkbox" checked disabled>发布时间
                            </label>
                        </li>
                        <li class="disabled">
                            <label>
                                <input type="checkbox" checked disabled>任务类型
                            </label>
                        </li>
                        <li class="disabled">
                            <label>
                                <input type="checkbox" checked disabled>检测行业
                            </label>
                        </li>
                        <li class="disabled">
                            <label>
                                <input type="checkbox" checked disabled>发布机构
                            </label>
                        </li>
                        <li data-key="separation">
                            <label>
                                <input type="checkbox">抽检分离
                            </label>
                        </li>
                        <li data-key="orgName">
                            <label>
                                <input type="checkbox">牵头单位
                            </label>
                        </li>
                        <li data-key="cityCode">
                            <label>
                                <input type="checkbox">所属区域
                            </label>
                        </li>
                        <li data-key="checkUnit">
                            <label>
                                <input type="checkbox">检测单位
                            </label>
                        </li>
                        <li data-key="checkObject">
                            <label>
                                <input type="checkbox">检测对象
                            </label>
                        </li>
                        <li data-key="checkProject">
                            <label>
                                <input type="checkbox">检测项目
                            </label>
                        </li>
                        <li data-key="sampleUnit">
                            <label>
                                <input type="checkbox">抽样单位
                            </label>
                        </li>
                        <li data-key="sampleArea">
                            <label>
                                <input type="checkbox">抽样地区
                            </label>
                        </li>
                        <li data-key="deparment">
                            <label>
                                <input type="checkbox">报告上传单位
                            </label>
                        </li>
                    </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="gui-btn" data-dismiss="modal">取消</button>
                <button type="button" class="gui-btn" ng-click="confirmCondition()">确定</button>
            </div>
        </div>
    </div>
</div>