<!--<link rel="stylesheet" href="../../assets/css/monitor/base.css"/>-->
<div class="gui-breadcrumbs">
    <a href="">查询系统</a>&gt;
    <a href="">检测任务</a>&gt;
    <span>承担单位报告</span>
</div>
<div class="gui-section">
    <!--<div class="gui-form-group clearfix">-->
        <!--<label>行业</label>-->
        <!--<span class="gui-select">-->
            <!--<select id="industry" style="width: 120px" >-->
                <!--<option value="">全部</option>-->
                 <!--<option ng-repeat="x in industry">{{x.dictName}}</option>-->
            <!--</select>-->
        <!--</span>-->
        <!--<label>监测类型</label>-->
        <!--<span class="gui-select">-->
            <!--<select id="category" style="width: 120px">-->
                <!--<option value="">全部</option>-->
                <!--<option ng-repeat="x in category">{{x}}</option>-->
            <!--</select>-->
        <!--</span>-->
        <!--<label>年度</label>-->
        <!--<span class="gui-select">-->
            <!--<select id="year" style="width: 120px">-->
                <!--<option value="">全部</option>-->
                <!--<option ng-repeat="x in year">{{x}}</option>-->
            <!--</select>-->
        <!--</span>-->
    <!--</div>-->
    <div class="gui-form-group clearfix">
        <!--<label>任务名称</label>-->
        <!--<span class="gui-select">-->
            <!--<select id="taskName" style="width: 120px">-->
                <!--<option value="">全部</option>-->
                 <!--<option ng-repeat="x in monitorTask">{{x.monitorTask}}</option>-->
            <!--</select>-->
        <!--</span>-->
        <label>报告名称</label>
        <input  type="text" class="gui-input" name="fileName" placeholder="请输入报告名称" ng-keyup="enterEvent($event)">
        <span class="gui-btn" id="seachTask">查询</span>
        <span class="gui-btn" id="resetBtn">重置</span>
        <span class="gui-btn" type="button" ng-click="rebackBtn()">返回</span>
    </div>
    <div class="setslist " >
        <ul>

        </ul>
    </div>
    <div  class="cq2">
        <!--<button class="gui-btn" id="clear">清除筛选</button>-->
        <button class="gui-btn fr mr15" id="batchDel" ng-click="batchDownload()">批量下载</button>
    </div>

    <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12  NewsSize td mt15">
        <table id="grid" class="gui-table table-striped table-hover data-table">
        </table>
    </div>
    <!--批量按钮放到上边-->
    <!--<button type="button" class="gui-btn fr" ng-click="batchDownload()">批量下载</button>-->


    <iframe id="i1" style="display:none"></iframe>
    <a download="" href="" target="blank" id="downFile"></a>
</div>


