
.Sup_contain_section_contain{
    margin-top: 20px;
    font-size: 16px;
}

.Sup_contain_section_contain>select{
    margin-right: 14px;
    margin-bottom: 20px;
    width: 130px;
    height: 26px;

}
/*.Sup_contain_section_contain>span>checkInput{
    padding: 0px 10px;
    width: 100px;
}*/
#checkInput{
    width: 50px;
}

.Sup_contain_section_contain_01{
}
.Sup_contain_section_contain_01>p{
    /*width: inherit;*/
    text-align: right;
}
/*.Sup_contain_section_contain_01>p>button a{
    display: inline-block;
    padding: 0px 10px;
    width: 100px;
}
.Sup_contain_section_contain_01>p>button a:hover{
    text-decoration: none;
    color: inherit;
}*/

.Sup_contain_section_contain_01 table{
    width: inherit;
    font-size: 14px;
}
@media (min-width: 1920px) {
    .Sup_contain_section_contain_01 table{
        width: inherit;
        font-size: 18px;
    }
}
#grid td,th{
    text-align: center;
}
.modal-body {
    height: 500px;
    width: 800px;
    margin: 0 auto;
    padding-bottom: 0
}
.modal-body input,select {
    width: 100px;
    margin: 0 auto;
}
/*#unit {
    width: 50px;
    margin: 0 auto;
}*/

/*h4 {
    text-align: center;
}*/

.modal-footer {
    text-align: center;
}

tr td:first-child {
    text-align: right;
}

tr td {
    padding: 5px 0px;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}