<link rel="stylesheet" href="assets/css/asms/subjSv/subjSvList.css"/>
<div class="gui-mainBc">
    <div class="gui-breadcrumbs">
        <a href="javascript:void(0)">监管系统</a>&gt;
        <a ui-sref="index.content.asms/subjEl/subjElChangeList">主体管理</a>&gt;
        <span>执法机构</span>
    </div>
    <div class="gui-TabCut">
        <ul class="clearfix gov-h">
            <li  ui-sref="index.content.asms/subjEl/subjElList" style="display: none"  class="fl gp-r subjElList">执法机构主体信息</li>
            <li    id="" class="fl gp-r gui-TabCheck">注册变更待审核<span class="news" ng-show="changeToAuditCount>0">{{changeToAuditCount}}</span></li>
            <li ui-sref="index.content.asms/subjEl/subjElCancelList" style="display: none"  class="fl gp-r subjElCancelList">注册注销待审核<span class="news" ng-show="cancelToAuditCount>0">{{cancelToAuditCount}}</span></li>
            <li ui-sref="index.content.asms/subjEl/subjElRevokeList" style="display: none"  class="fl gp-r subjElRevokeList">注册撤销待审核<span class="news" ng-show="revokeToAuditCount>0">{{revokeToAuditCount}}</span></li>
        </ul>
        <div class="gui-botLine"></div>
    </div>
    <div class="gui-section">
        <div class="gui-form-group">
            <span id="AnyArea">所属区域</span>
            <div class="gui-select">
                <select id="sheng" >
                    <option value="">省</option>
                </select>
            </div>
            <div class="gui-select">
                <select id="shi">
                    <option value="">市</option>
                </select>
            </div>
            <div class="gui-select">
                <select id="xian">
                    <option value="">区/县</option>
                </select>
            </div>

            <form id="queryForm" class="mt15">
                <span>审核状态</span>
                <div class="gui-select">
                    <select name="auditState">
                        <option value="">全部</option>
                        <option value="0">待审核</option>
                        <option value="1">通过</option>
                        <option value="2">未通过</option>
                    </select>
                </div>
                <span>申请日期</span>
                <input name="date" type="text" size="15" style="width: 120px;" class="Wdate gui-input"  onfocus = "WdatePicker({dateFmt:'yyyy-MM-dd '}) "/>
                <span>机构名称</span>
                <input class="gui-input" name="elName" style="width: 110px;" type="text" placeholder="请输入机构名称"/>
                <button class="gui-btn" ng-disabled="!!btnDisabled" ng-click="querySubjElChange()">查询</button>
                <button class="gui-btn " ng-click="reloadArea()">重置</button>
            </form>
        </div>
        <table id="elChangeGrid"
               class="gui-table mt15" style="width:100%">
        </table>
    </div>
</div>
