<div class="gui-breadcrumbs">
    <a href="">{{monitorClass}}</a>&gt;
    <a href="">抽样</a>&gt;
    <a href="">抽样信息管理</a>&gt;
    <span>抽样详情</span>
</div>
<div id="printCount">


<div class="gui-section" style="max-width: 1000px;margin: auto">
    <!--头-->
    <h3 class="col-md-9 col-md-offset-3" style="margin-bottom: 20px">农业农村部 农产品质量安全抽样单</h3>
    <table style="width: 90%;line-height: 80%;font-size: small;">
        <tr>
            <td width="40%" style="text-align: left"><label>产品追溯码<span class="asterisk">*</span></label>
                &#12288;<input style="width:60%" class="gui-input" type="text"
                               readOnly="true" ng-model="data.PRODUCT_TRACEABILITY_CODE" name="productTraceabilityCodeInput"
                >
            </td>
          <!--  <td width="10%" rowspan="2">
                <div id="code" style=""></div>
            </td>-->
        </tr>
        <tr>
            <td width="80%" style="text-align: left;line-height: 60px;"><label>样品编码<span class="asterisk">*</span></label>
                &#12288;<input readonly type="text" style="width:60%;margin-left: 14px;" class="gui-input" name="sampleCodeInput"
                               ng-model="data.SAMPLE_CODE" readOnly="true" id="showSample">
            </td>
        </tr>
        <tr>
            <td height="35px" style="text-align: left">
                <label style="font-weight: normal">样品编码规则:20位以内的大写字母、小写字母、数字及其组合<!--所属省前2个字首字母大写+<span id="sampleCodeRule"></span>+3位单位编码+2位行业+4位年份+2位批次+自定义条码(四位数字,如:0001)--></label>
            </td>
        </tr>
    </table>
    <!--内容 -->
    <table class="gui-table" id="attributeForm">

        <tr style="text-align: left">
            <td rowspan="4">被抽查单位情况</td>
            <td style="text-align: right;padding-right: 10px;">单位地址<span class="asterisk">*</span></td>
            <td colspan="2" class="form-group"><input type="text" style="width: 100%;" class="gui-input"
                                                      ng-model="data.TESTED_ADDRESS" name="testedAddress" readOnly="true"
            ></td>
        </tr>
        <tr style="text-align: left">
            <td style="text-align: right;padding-right: 10px;">单位名称<span class="asterisk">*</span></td>
            <td colspan="2" class="form-group"><input type="text" style="width: 100%;" class="gui-input"
                                                      ng-model="data.TESTED_DEPARMENT" name="testedDeparment" readOnly="true"
            ></td>
        </tr>
        <tr style="text-align: left">
            <td style="text-align: right;padding-right: 10px;">联系人<span class="asterisk">*</span></td>
            <td colspan="2" class="form-group"><input type="text" style="width: 100%;" class="gui-input"
                                                      ng-model="data.TESTED_LINKMAN" name="testedLinkman" readOnly="true">
            </td>
        </tr>
        <tr style="text-align: left">
            <td style="text-align: right;padding-right: 10px;">联系电话<span class="asterisk">*</span></td>
            <td colspan="2" class="form-group"><input type="text" style="width: 100%;" class="gui-input"
                                                      ng-model="data.TESTED_LINKMANPHONE" name="testedLinkmanphone" readOnly="true"
            ></td>
        </tr>

        <tr style="text-align: left">
            <td rowspan="6">样品信息</td>
            <td style="text-align: right;padding-right: 10px;">抽样地点<span class="asterisk">*</span></td>
            <td colspan="2" style="height: 80px;margin-left: 5px" class="form-group">
                <input type="text" class="gui-input" style="width:90%;" ng-model="data.SAMPLE_PLACE" readOnly="true"
                       name="samplePlace"  >
            </td>
        </tr>
        <tr style="text-align: left">
            <td style="text-align: right;padding-right: 10px;">样品名称<span class="asterisk">*</span></td>
            <td colspan="2" class="form-group"><input style="width: 100%;" type="text" class="gui-input"
                                                      ng-model="data.SAMPLE_NAME" readOnly="true" name="sampleName"
            ></td>
        </tr>
        <tr style="text-align: left">
            <td style="text-align: right;padding-right: 10px;">样品来源<span class="asterisk">*</span></td>
            <td colspan="1" class="form-group">
                <p>
                    <label class="checkbox-inline">
                        <input type="radio" class="selfProduced" name="isSelfProduced" value="自产" ng-click="switchIsSelfProduced()"> 自产
                    </label>

                    <label class="checkbox-inline">
                        <input type="radio" class="notSelfProduced" name="isSelfProduced" value="其他" ng-click="switchIsSelfProduced()"> 其他
                    </label>
                </p>
            </td>
            <td colspan="2" class="form-group">
                <input class="gui-input sampleSource" style="width: 70%;display: block" id="producingAreaName" name="producingAreaName" type="text" ng-model="data.PRODUCTIONS_TATUS" />
            </td>
        </tr>
        <tr style="text-align: left">
            <td style="text-align: right;padding-right: 10px;">抽样数量<span class="asterisk">*</span></td>
            <td colspan="1" class="form-group">
                <input type="text" style="width: 100%;" class="gui-input" ng-model="data.SAMPLE_NUMBER" name="sampleNumber" readOnly="true"  >
            </td>
            <td colspan="1" class="form-group">
                <span>抽样单位</span>
                <div class="gui-select">
                    <input type="text" style="width: 100%;" class="gui-input" ng-model="data.SAMPLE_NUMBER_UNIT" name="sampleNumberUnit" readOnly="true"  >
                </div>
            </td>
        </tr>
        <tr style="text-align: left">
            <td style="text-align: right;padding-right: 10px;">抽样基数<span class="asterisk">*</span></td>
            <td colspan="1" class="form-group">
                <input type="text" style="width: 100%;" class="gui-input" ng-model="data.SAMPLE_BASE" name="sampleBase"  readOnly="true" >
            </td>
            <td colspan="1" class="form-group">
                <span>抽样单位</span>
                <div class="gui-select">
                    <input type="text" style="width: 100%;" class="gui-input" ng-model="data.SAMPLE_BASE_UNIT" name="sampleBaseUnit" readOnly="true"  >
                </div>
            </td>
        </tr>
        <tr style="text-align: left">
            <td style="text-align: right;padding-right: 10px;">生产日期</td>
            <td colspan="2" class="form-group">
                <input id="produceDate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" name="produceDate"  ng-model="data.PRODUCE_DATE" onblur="clearValidate()"
                       class="gui-input" readOnly="true" >
            </td>
        </tr>

        <tr style="text-align: left">
            <td rowspan="4">抽样单位情况</td>
            <td style="text-align: right;padding-right: 10px;">单位名称<span class="asterisk">*</span></td>
            <td colspan="2" class="form-group"><input type="text" style="width: 100%;" class="gui-input"
                                                      ng-model="data.SAMPLE_DEPARMENT" name="sampleDeparment" readOnly="true"
            ></td>
        </tr>
        <tr style="text-align: left">
            <td style="text-align: right;padding-right: 10px;">联系人<span class="asterisk">*</span></td>
            <td colspan="2" class="form-group"><input type="text" style="width: 100%;" class="gui-input"
                                                      ng-model="data.SAMPLE_LINKMAN" name="sampleLinkman" readOnly="true"
            >
            </td>
        </tr>
        <tr style="text-align: left">
            <td style="text-align: right;padding-right: 10px;">通讯地址<span class="asterisk">*</span></td>
            <td colspan="2" class="form-group"><input type="text" style="width: 100%;" class="gui-input"
                                                      ng-model="data.SAMPLE_ADDRESS" name="sampleAddress" readOnly="true"
            ></td>
        </tr>
        <tr style="text-align: left">
            <td style="text-align: right;padding-right: 10px;">联系电话<span class="asterisk">*</span></td>
            <td colspan="2" class="form-group"><input type="text" style="width: 100%;" class="gui-input"
                                                      ng-model="data.SAMPLE_PHONE" name="samplePhone" readOnly="true"
            ></td>
        </tr>

        <tr style="height: 80px;text-align: left">
            <td>
                <label class="">备注<span class="asterisk">*</span></label>
            </td>
            <td colspan="3" style="height: 80px;margin-left: 5px" class="form-group">
                <input type="text" class="gui-input" style="width:90%;" ng-model="data.COMMENT"
                       name="comment"  readOnly="true">
            </td>
        </tr>

    </table>

    <table>
        <tr style="height: 80px;text-align: left">
            <td>
                <label class="">附件<span class="asterisk">*</span></label>
            </td>
            <td name="filesview"  colspan="3" style="height: 80px;margin-left: 5px" class="form-group">
                <div class="_box" id="imgSpot"/>
            </td>
        </tr>
        <tr style="height: 80px;text-align: left">
            <td>
                <label class="">抽样人员<span class="asterisk">*</span></label>
            </td>
            <td colspan="3"　class="form-group">
                <input type="text" class="gui-input" ng-model="data.SAMPLE_PERSON"
                       name="samplePerson"
                >
            </td>
        </tr>
    </table>

    <p style="text-align: center;" class="mt15 mb25 print_hidden">
        <!--<button class="gui-btn" type="button" ng-click="back()">返回</button>-->
       <!-- <span type="button" class="gui-btn " ng-click="downloadSample()">下载</span>-->
        <span type="button" class="gui-btn " id="printArea" ng-click="sub()">打印</span>
        <span type="button" class="gui-btn " id="printAreas" ng-click="printAreas()">打印样品编码</span>
        <span type="button" class="gui-btn" id="rtnLastPage">返回</span>
    </p>
</div>

</div>

<div class="modal fade" id="choose_print_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-stylesm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="sampleCodeModal">
                    <span>样品编码打印</span>
                </h4>
            </div>
            <!-- style="height: 60px;width:80%;"  -->
            <div class="modal-body">
                <table id="printBox" style="width: 80%;height: 100px;border: 2px solid silver;margin: auto">
                    <tr style="height: 20px;">
                        <td></td>
                    </tr>
                    <tr >
                        <td><h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;任务名称:<span id="showTaskName"></span></h4></td>
                    </tr>
                    <tr style="height: 10px;">
                        <td></td>
                    </tr>
                    <tr>
                        <td><h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;样品编码:<span id="showSampleCode"></span></h4></td>
                    </tr>
                    <tr style="height: 10px;">
                        <td></td>
                    </tr>
                </table>
                <!-- <span>任务名称:</span><input  ng-model="entrustTaskNameInfo" name="entrustTaskNameInfo" />
                 <span>样品编码:</span><input  ng-model="sampleCodeInfo" name="sampleCodeInfo" />-->
            </div>
            <div class="modal-footer">
                <button class="gui-btn" data-dismiss="modal">取消</button>
                </button><button class="gui-btn" class="gui-btn btn-sm" id="printAreaCode">打印</button>
            </div>
        </div>
    </div>
</div>
