body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:655px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u96 {
  position:absolute;
  left:286px;
  top:97px;
  width:374px;
  height:101px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u98 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u99 {
  position:absolute;
  left:92px;
  top:0px;
  width:92px;
  height:36px;
}
#u100 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u101 {
  position:absolute;
  left:184px;
  top:0px;
  width:92px;
  height:36px;
}
#u102 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:36px;
}
#u103 {
  position:absolute;
  left:276px;
  top:0px;
  width:93px;
  height:36px;
}
#u104 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u105 {
  position:absolute;
  left:0px;
  top:36px;
  width:92px;
  height:30px;
}
#u106 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u107 {
  position:absolute;
  left:92px;
  top:36px;
  width:92px;
  height:30px;
}
#u108 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u109 {
  position:absolute;
  left:184px;
  top:36px;
  width:92px;
  height:30px;
}
#u110 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u111 {
  position:absolute;
  left:276px;
  top:36px;
  width:93px;
  height:30px;
}
#u112 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u113 {
  position:absolute;
  left:0px;
  top:66px;
  width:92px;
  height:30px;
}
#u114 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u115 {
  position:absolute;
  left:92px;
  top:66px;
  width:92px;
  height:30px;
}
#u116 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u117 {
  position:absolute;
  left:184px;
  top:66px;
  width:92px;
  height:30px;
}
#u118 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u119 {
  position:absolute;
  left:276px;
  top:66px;
  width:93px;
  height:30px;
}
#u120 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u121 {
  position:absolute;
  left:337px;
  top:49px;
  width:97px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u123 {
  position:absolute;
  left:445px;
  top:49px;
  width:50px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
