<link rel="stylesheet" href="assets/css/dgap/platForm/partPlatFormApply.css">
<div class="gui-breadcrumbs">
  <a href="">数据共享系统</a>&gt;
  <a href="">地方平台对接管理</a>&gt;
  <span>地方平台对接申请</span>
</div>
<div class="gui-section">
  <form>

    <div class="gui-form-group">

      <span class="color-gray">资源名称</span>
      <input class="gui-input form_input" data-bv-stringlength="true" data-bv-stringlength-max="20" data-bv-stringlength-message="不能超过20个字符长度"
             type="text"  maxlength="50" ng-model="resourceName" placeholder="请输入查询关键字">

      <button class="gui-btn ml15 submit-btn" ng-click="resourceDirs()">查询</button>
      <button class="gui-btn ml15 submit-btn" ng-click="cleanData()">重置</button>
    </div>
  </form>
  <div class="gui-actions">
    <span class="gui-btn fr mr15" data-toggle="modal" data-target="#resDirAdd"><i
            class="gui-icon icon-add"></i>新增</span>
  </div>

  <table id="reDir" class="gui-table">
  </table>
</div>

<!-- 模态框（新增） -->
<div class="modal fade" id="resDirAdd" tabindex="-1" role="dialog" aria-labelledby="resDirAddLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="resDirAddLabel">
          新增共享系统访问令牌
        </h4>
      </div>
      <div class="modal-body ">
        <div id="attributeForm" style="text-align: center">
          <div class="form-item form-group">
            <label>资源名称<i class="gui-colorRed">*</i></label>
            <input name="addResourceName" ng-model="sysDgapToken.resourceName" class="gui-in
                       put form-control" data-bv-notempty="true" data-bv-notempty-message="资源名称不能为空"
                   data-bv-stringlength="true" data-bv-stringlength-max="64"
                   data-bv-stringlength-message="资源名称不超过32个字符">
          </div>
          <div class="form-item form-group">
            <label>资源token<i class="gui-colorRed">*</i></label>
            <input name="addToken" ng-model="sysDgapToken.token" class="gui-in
                       put form-control" data-bv-notempty="true" data-bv-notempty-message="资源token不能为空"
                   data-bv-stringlength="true" data-bv-stringlength-max="64"
                   data-bv-stringlength-message="资源token不超过32个字符">

          </div>
          <input type="text" class="gui-input" style="display: none"  value="" name="HiddenID"/>
        </div>
        <div class="modal-footer">
          <span type="button" class="gui-btn" data-dismiss="modal"  >取消</span>
          <span type="button" class="gui-btn addRes" data-dismiss="modal" ng-click="addModal()">保存
                    </span>
        </div>
      </div>
    </div>
  </div>
</div>

