<link rel="stylesheet" href="assets/styles/register.css">
<link rel="stylesheet" href="assets/css/asms/subjSv/subjSvAdd.css">
<link rel="stylesheet" href="assets/styles/forgotPwd.css">
<header class="gui-header clearfix">
    <div class="section-logo" ui-sref="login/loginCheck">
        <img src="/assets/imgs/icon/logo.png" alt="国家农产品质量安全追溯管理信息平台（政务办公）" class="logo">
        <h1>国家农产品质量安全追溯管理信息平台<em></em></h1>
    </div>
</header>

<div class="gui-section  tab-content" id="myTabContent">
    <ul id="myTab" class="gui-tab tab-register clearfix">
        <li class="active">
            <a ng-click="changeTab(1)" data-toggle="tab">忘记密码</a>
        </li>
        <li>
            <a ng-click="changeTab(2)" data-toggle="tab">忘记账号</a>
        </li>
    </ul>
    <div class="ovh" id="pwd">
        <div class="gui-page-head">
            <h3>输入验证信息</h3>
        </div>
        <form id="attributeForm" method="post" class="form-horizontal" data-bv-message="This value is not valid">
            <ul class="gui-list">
                <li>
                    <div class="form-item form-group" id="organization">
                        <span class="title">组织形式</span>
                        <div class="text-field">
                            <label class="radio-item" ng-repeat="item in orgs">
                                <input id="id_radio" type="radio" value="{{item.id}}" name="userType" ng-model="TtsScltxxcjRegiter.userType" dictvalue="{{item.dictValue}}">
                                <span id="checkedUserTypeText" ng-bind="item.dictName">
                            </span></label>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="form-item form-group">
                        <span class="title">用户名</span>
                        <input type="text" name="ACCOUNT" ng-model="TtsScltxxcjRegiter.ACCOUNT" class="form-control" placeholder="请输入用户名" data-bv-notempty="true" data-bv-notempty-message="用户名不能为空！">
                    </div>
                </li>
                <li id="entN">
                    <div class="form-item form-group">
                        <span class="title" id="entName">企业名称</span>
                        <input type="text" class="form-control" id="enterpriseName" ng-model="TtsScltxxcjRegiter.ENTERPRISE_NAME" name="ENTERPRISE_NAME" placeholder="请输入企业名称" data-bv-notempty="true" data-bv-notempty-message="企业名称不能为空！">
                    </div>
                </li>
                <li id="credNo">
                    <div class="form-item form-group">
                        <span class="title">企业注册号</span>
                        <input type="text" name="CREDIT_CODE" ng-model="TtsScltxxcjRegiter.CREDIT_CODE" class="form-control" placeholder="请输入企业注册号" data-bv-notempty="true" data-bv-notempty-message="企业注册号不能为空！">
                    </div>
                </li>
                <li>
                    <div class="form-item form-group">
                        <span class="title" id="usrName">法人姓名</span>
                        <input type="text" name="LEGAL_NAME" ng-model="TtsScltxxcjRegiter.LEGAL_NAME" class="form-control" placeholder="请输入法人姓名" data-bv-notempty="true" data-bv-notempty-message="法人姓名不能为空！">
                    </div>
                </li>
                <li>
                    <div class="form-item form-group">
                        <span class="title" id="IdNo">法人身份证号</span>
                        <input type="text" name="LEGAL_IDNUMBER" ng-model="TtsScltxxcjRegiter.LEGAL_IDNUMBER" class="form-control" placeholder="请输入法人身份证号" data-bv-notempty="true" data-bv-notempty-message="法人身份证号不能为空！">
                    </div>
                </li>
                <li id="lxPhone">
                    <div class="form-item form-group">
                        <span class="title" id="Lphone">负责人联系电话</span>
                        <input type="text" name="phone" ng-model="TtsScltxxcjRegiter.LEGALPHONE" class="form-control" placeholder="请输入负责人联系电话" data-bv-notempty="true" data-bv-notempty-message="负责人联系电话不能为空！">
                    </div>
                </li>
                <li>
                    <div class="text-center mt15">
                        <button class="gui-btn" align="center" ui-sref="login/logintts" id="repeat">返回</button>
                        <button ng-click="verification()" class="gui-btn" align="center" id="regin">确认</button>
                    </div>
                </li>
            </ul>
        </form>
    </div>
    <div class="ovh" id="account">
            <div class="gui-page-head">
            <h3>输入验证信息</h3>
        </div>
        <form id="accounts" method="post" class="form-horizontal" data-bv-message="This value is not valid">
            <ul class="gui-list">
                <li id="id_title">
                    <div class="form-item form-group" id="f_organization">
                        <span class="title">组织形式</span>
                        <div class="text-field">
                            <label class="radio-item" ng-repeat="item in orgs">
                                <input type="radio" value="{{item.id}}" name="userType1" ng-model="TtsScltxxcjRegiter.userType" dictvalue="{{item.dictValue}}">
                                <span id="checkedUserTypeTexts" ng-bind="item.dictName">
                            </span></label>
                        </div>
                    </div>
                </li>
                <!--<li>-->
                    <!--<div class="form-item form-group">-->
                        <!--<span class="title">用户名</span>-->
                        <!--<input type="text" name="ACCOUNT" ng-model="TtsScltxxcjRegiter.ACCOUNT" class="form-control" placeholder="请输入用户名" data-bv-notempty="true" data-bv-notempty-message="用户名不能为空！" />-->
                    <!--</div>-->
                <!--</li>-->
                <li id="f_entN">
                    <div class="form-item form-group">
                        <span class="title" id="f_entName">企业名称</span>
                        <input type="text" class="form-control" id="enterpriseNames" ng-model="TtsScltxxcjRegiter.ENTERPRISE_NAME" name="ENTERPRISE_NAME" placeholder="请输入企业名称" data-bv-notempty="true" data-bv-notempty-message="企业名称不能为空！">
                    </div>
                </li>
                <li id="f_credNo">
                    <div class="form-item form-group">
                        <span class="title">企业注册号</span>
                        <input type="text" name="CREDIT_CODE" ng-model="TtsScltxxcjRegiter.CREDIT_CODE" class="form-control" placeholder="请输入企业注册号" data-bv-notempty="true" data-bv-notempty-message="企业注册号不能为空！">
                    </div>
                </li>
                <li id="f_usrN">
                    <div class="form-item form-group">
                        <span class="title" id="f_usrName">法人姓名</span>
                        <input type="text" id="f_name" name="LEGAL_NAME" ng-model="TtsScltxxcjRegiter.LEGAL_NAME" class="form-control" placeholder="请输入法人姓名" data-bv-notempty="true" data-bv-notempty-message="法人姓名不能为空！">
                    </div>
                </li>
                <li id="f_IdN">
                    <div class="form-item form-group">
                        <span class="title" id="f_IdNo">法人身份证号</span>
                        <input type="text" id="f_id" name="LEGAL_IDNUMBER" ng-model="TtsScltxxcjRegiter.LEGAL_IDNUMBER" class="form-control" placeholder="请输入法人身份证号" data-bv-notempty="true" data-bv-notempty-message="法人身份证号不能为空！">
                    </div>
                </li>
                <li id="f_lxPhone">
                    <div class="form-item form-group">
                        <span class="title" id="f_Lphone">负责人联系电话</span>
                        <input type="text" name="phone" ng-model="TtsScltxxcjRegiter.LEGALPHONE" class="form-control" placeholder="请输入负责人联系电话" data-bv-notempty="true" data-bv-notempty-message="负责人联系电话不能为空！">
                    </div>
                </li>
                <li>
                    <div class="text-center mt15">
                        <button class="gui-btn" align="center" ui-sref="login/logintts" id="repeats">返回</button>
                        <button ng-click="verification1()" class="gui-btn" align="center" id="regins">确认</button>
                    </div>
                </li>
            </ul>
        </form>
    </div>
</div>
<div class="modal fade" id="detail_modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                <h4 class="modal-title" id="detailTitle">
                    提示信息
                </h4>
            </div>
            <div class="col-md-12" style="margin-top: 2px;text-align: center">
                <div class="form-group">
                </div>
            </div>
            <div class="col-md-12 modal-body">
                <!-- 表格部分 -->

                <div class="col-md-12  tb" style="margin-top: 2px;text-align: center">
                   <p id="msg"></p>
                </div>
                <div class="col-md-12  tb" style="margin-top: 2px;text-align: center">
                    <span>监管机构：</span><span id="jgName"></span>
                    <span>联系电话：</span><span id="jgPhone"></span>
                </div>
            </div>
            <!-- /.modal-body -->
            <div class="modal-footer ovh">
                <button type="button" class="gui-btn" data-dismiss="modal">关闭
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>
