<link rel="stylesheet" href="assets/styles/register.css">
<header class="gui-header clearfix">
    <div class="section-logo">
        <img src="/assets/imgs/icon/logo.png" alt="国家农产品质量安全追溯管理信息平台（政务办公）" class="logo">
        <h1>国家农产品质量安全追溯管理信息平台<em></em></h1>
    </div>
</header>
<div class="gui-section">
    <div class="ovh">
        <ul class="gui-step">
            <li style="width: 450px ">
                <strong>1</strong>
                <span>忘记密码</span>
            </li>
            <li class="active">
                <strong>2</strong>
                <span>填写新密码</span>
            </li>
            <!--<li>-->
            <!--<strong>3</strong>-->
            <!--<span>备案审核</span>-->
            <!--</li>-->
            <!--<li>-->
            <!--<strong>4</strong>-->
            <!--<span>备案成功</span>-->
            <!--</li>-->
        </ul>
        <div class="gui-page-head">
            <h3>重置密码</h3>
        </div>
        <form id="attributeForm" method="post" class="form-horizontal" data-bv-message="This value is not valid">
            <ul class="gui-list">
                <li>
                    <div class="form-item form-group">
                        <span class="title">输入新密码</span>
                        <input type="text" class="form-control" name="password" ng-model="TtsScltxxcjRegiter.password" data-bv-notempty="true" data-bv-notempty-message="密码不能是空">
                    </div>
                </li>
                <li>
                    <div class="form-item form-group">
                        <span class="title">确认新密码</span>
                        <input type="text" class="form-control" name="confirmPassword" ng-model="TtsScltxxcjRegiter.confirmPassword" data-bv-notempty="true" data-bv-notempty-message="确认密码不能是空">
                    </div>
                </li>
                <li>
                    <div class="text-center mt15">
                        <button class="gui-btn" ui-sref="login/logintts" id="repeat">取消</button>
                        <button class="gui-btn" ng-click="updatepassword()" id="regin">确认</button>
                    </div>
                </li>
            </ul>
        </form>
    </div>
</div>
