<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sofn.bigdata.mapper.DataItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sofn.bigdata.model.DataItem">
        <id column="id" property="id" />
        <result column="name" property="name" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, content, type, format, description
    </sql>

    <!--批量插入数据项-->
    <insert id="batchInsert" parameterType="List">
        insert into tb_data_item(<include refid="Base_Column_List"/>) values
            <foreach collection="params" index="index" item="item"  separator=",">
                (#{item.id}, #{item.name}, #{item.content}, #{item.type}, #{item.format}, #{item.description})
            </foreach>
    </insert>

</mapper>
