<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sofn.bigdata.mapper.TemplateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sofn.bigdata.model.Template">
        <id column="id" property="id" />
        <result column="name" property="name" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, execute_cycle, url, data_item_ids
    </sql>

    <update id="updateByTemplate" parameterType="template">
        update tb_template set name = #{name}, execute_cycle = #{executeCycle},url = #{url},data_item_ids = #{dataItemIds, javaType=java.util.List,jdbcType=VARCHAR,typeHandler=com.sofn.bigdata.convertor.String2ListLongTypeHandler} where id = #{id}
    </update>

</mapper>
