.gui-step {
  overflow: hidden;
  width: 800px;
  margin: 0 auto;
  padding: 10px 0;
}
.gui-step li {
  float: left;
  width: 25%;
  text-align: center;
  position: relative;
}
.gui-step li:before,
.gui-step li:after {
  position: absolute;
  content: '';
  display: block;
  height: 2px;
  left: 0;
  width: 40%;
  top: 15px;
  background-color: #ff8607;
}
.gui-step li:after {
  left: auto;
  right: 0;
  width: 40%;
}
.gui-step li:first-child:before {
  display: none;
}
.gui-step li:last-child:after {
  display: none;
}
.gui-step li.active:after {
  background-color: #bbb;
}
.gui-step li.active ~ li:before,
.gui-step li.active ~ li:after {
  background-color: #bbb;
}
.gui-step li.active ~ li strong {
  background-color: #bbb;
}
.gui-step li.active ~ li span {
  color: #bbb;
}
.gui-step li strong {
  position: relative;
  z-index: 1;
  border-radius: 100%;
  background-color: #ff8607;
  color: #FFF;
  width: 30px;
  line-height: 30px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  margin-bottom: 10px;
}
.gui-step li span {
  font-size: 16px;
  font-weight: 700;
  display: block;
  color: #ff8607;
  text-align: center;
}
