.no-border {
  border: none !important;
}
.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  overflow: hidden;
}
.color-red {
  color: red;
}
.color-green,
a.color-green {
  color: #50b895;
}
.margin-auto {
  margin-left: auto;
  margin-right: auto;
}
.max-w-600 {
  max-width: 600px !important;
}
.gui-hide {
  display: none !important;
}
.gui-hidden {
  width: 0;
  height: 0;
  font-size: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  visibility: hidden !important;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
/*导航固定宽度*/
.w200 {
  width: 200px;
}
/*左边边距*/
.ml25pr30 {
  /*width: 96%;*/
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.bcgreypl25 {
  background-color: #E3E3E3;
  padding-left: 25px;
}
.mb25 {
  margin-bottom: 25px;
}
.mt15 {
  margin-top: 15px;
}
.mb15 {
  margin-bottom: 15px;
}
.pl10pr10 {
  padding: 0 10px !important;
}
.mr15 {
  margin-right: 15px;
}
.pl25 {
  padding-left: 25px !important;
}
.ml15 {
  margin-left: 15px;
}
.color-gray {
  color: #666;
}
.ovh {
  overflow: hidden;
}
