<link rel="stylesheet" href="/assets/css/dgap/resource/dgapResourceApplication.css">
<script src="assets/js/dgap/common.js"></script>
<div class="gui-breadcrumbs">
    <a href="">数据共享系统</a>&gt;
    <a href="">资源管理</a>&gt;
    <span>ETL任务</span>
</div>
<div class="gui-section">
    <form novalidate name="myForm">
        <div class="gui-form-group">
            <span>资源名称</span>
            <input type="text" class="gui-input" placeholder="请输入资源名称" name="resourceName" ng-model="resourceName" ng-maxlength="60">
            <span>转换名称</span>
            <input type="text" class="gui-input" placeholder="请输入ETL转换名称" name="transName" ng-model="transName" ng-maxlength="60">
            <button class="gui-btn submit-btn" ng-disabled="myForm.$invalid" ng-click="search()">
                查询
            </button>
            <button class="gui-btn ml15 submit-btn" ng-click="cleanData()">重置</button>
        </div>
    </form>
    <div class="gui-actions">
        <span class="gui-btn fr" ng-click="deleteResourceTransforms()"><i class="gui-icon icon-remove"></i>批量删除</span>
        <span class="gui-btn fr mr15" data-toggle="modal" ng-click="addTransform()"><i
                class="gui-icon icon-add"></i>新增</span>
        <span class="gui-btn fr mr15" data-toggle="modal" ng-click="addReadTransform()"><i
                class="gui-icon icon-add"></i>导入模板</span>

    </div>

    <table id="resourceTransform" class="gui-table">
    </table>
</div>

<!-- 模态框（新增ETL转换） -->
<div class="modal fade" id="resourceTransformAdd" tabindex="-1" role="dialog" aria-labelledby="resDirAdd1Label" aria-hidden="true">
    <div class="modal-dialog modal-stylemid">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="resourceTransformAddLabel">
                    ETL转换
                </h4>
            </div>
            <div class="modal-body">
                <form id="attributeForm" enctype="multipart/form-data">
                    <div class="form-item form-group" style="overflow: hidden;">
                        <label>资源名称<i class="gui-colorRed">*</i></label>
                        <span class="gui-select">
                            <select class="form-control" ng-model="resName" name="resName" style="width: 193px;"
                                    data-bv-notempty="true" data-bv-notempty-message="资源名称不能为空">
                                <option value="">-请选择资源名称-</option>
                                <option ng-repeat="x in resources" value="{{x.id}}">{{x.name}}
                                </option>
                            </select>
                        </span>
                    </div>
                    <div class="form-item form-group">
                        <label>附件</label>
                        <div class="field-text">
                            <dl class="gui-file clearfix">
                                <dd class="file-item">
                                    <div class="b-button js-fileapi-wrapper input-box" style="background-image:url({{ filePreview || '../assets/imgs/dist/plus-mask.png'}})">
                                        <input id="file-1" name="file" class="b-button__input" accept="*" type="file">
                                    </div>
                                    <p class="file-name">{{file.name ||  '请选择文件'}}</p>
                                </dd>
                            </dl>
                            <p class="file-name"> 备注：只能上传ktr类型文档，文件大小不超过5M。 </p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <span type="button" data-dismiss="modal" class="gui-btn">取消
                </span>
                <span type="button" class="gui-btn addRes" data-dismiss="modal" ng-click="addResourceTransform()">
                    保存
                </span>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>



<!-- 模态框（导入模板） -->
<div class="modal fade" id="resourceTransformRead" tabindex="-1" role="dialog" aria-labelledby="resDirAdd1Label" aria-hidden="true">
    <div class="modal-dialog modal-stylemid">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="resourceTransformAddLabel1">
                    导入模板
                </h4>
            </div>
            <div class="modal-body">
                <form id="attributeForm1" enctype="multipart/form-data">
                    <div class="form-item form-group" style="overflow: hidden;">
                        <label>资源名称<i class="gui-colorRed">*</i></label>
                        <span class="gui-select">
                            <select class="form-control" ng-model="resName" name="resName" style="width: 193px;"
                                    data-bv-notempty="true" data-bv-notempty-message="资源名称不能为空">
                                <option value="">-请选择资源名称-</option>
                                <option ng-repeat="x in resources" value="{{x.id}}">{{x.name}}
                                </option>
                            </select>
                        </span>
                    </div>
                    <div class="form-item form-group" style="overflow: hidden;">
                        <label>模板名称<i class="gui-colorRed">*</i></label>
                        <span class="gui-select">
                            <select class="form-control" ng-model="readName" name="readName" style="width: 193px;"
                                    data-bv-notempty="true" data-bv-notempty-message="模板名称不能为空">
                                <option value="">-请选择模板名称-</option>
                                <option ng-repeat="x in readlist" value="{{x.id}}">{{x.name}}
                                </option>
                            </select>
                        </span>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <span type="button" data-dismiss="modal" class="gui-btn">取消
                </span>
                <span type="button" class="gui-btn addRes" data-dismiss="modal" ng-click="readResourceTransform()">
                    保存
                </span>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>


<!--修改摸态框-->
<div class="modal fade" id="resourceTransformUpdate" tabindex="-1" role="dialog" aria-labelledby="resDirAdd1Label" aria-hidden="true" style="color: black" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-stylemid">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    ETL转换修改
                </h4>
            </div>
            <div class="modal-body">
                <form id="updateattributeForm" enctype="multipart/form-data">
                    <div class="form-item form-group" style="overflow: hidden;">
                        <label>资源名称<i class="gui-colorRed">*</i></label>
                        <span class="gui-select">
                            <select class="form-control" ng-model="resName" name="resName" ng-disabled="true">
                                <!--<option  value="{{resName}}">{{resourceId}}</option>-->
                                <option ng-repeat="x in resources" value="{{x.id}}">{{x.name}}
                                </option>
                            </select>
                        </span>
                    </div>
                    <div class="form-item form-group">
                        <label>附件</label>

                        <div class="field-text">
                            <!--<div file-upload options="vm.uploadOptions" files="vm.files"></div>-->
                            <dl class="gui-file clearfix">
                                <dd class="file-item">
                                    <div class="b-button js-fileapi-wrapper input-box" style="background-image:url({{ filePreview || '../assets/imgs/dist/plus-mask.png'}})">
                                        <input id="file-2" name="file" class="b-button__input" accept="*" type="file">
                                    </div>
                                    <p class="file-name">{{ (file && file.name) ||  '请选择文件'}}</p>
                                </dd>
                            </dl>
                            <p class="file-name"> 备注：只能上传ktr类型文档，文件大小不超过5M。 </p>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <span type="button" data-dismiss="modal" class="gui-btn">取消
                    </span>
                <span class="gui-btn updateRes" ng-click="updateTransform()"> 保存</span>
            </div>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal -->
