.Sup_contain_section_nav li{
    float: left;
    width: 180px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    position: relative;
    border: 1px solid #9d9d9d;
    margin: 40px 10px 50px 40px;
}
.Sup_contain_section_nav li:hover{
    background-color: #9d9d9d;
    color: red;
}
.change{
    background-color: #9d9d9d;
    color: white;
}
.no_change{
    background-color: white;
    color: black;
}
/*/!*���ݲ�*/
.Sup_contain{
    overflow: hidden;
}
.Sup_contain_section_Con{
    width: 1150px;
    margin: auto;
}
/*֪ͨ����*/
.Sup_contain_section{
    position: relative;
    /*overflow: hidden;*/
}
.Sup_contain_section_contain{
    position: absolute;
    left: 17%;
    /*top: 200px;*/
    top: -2000%;
    width: 1100px;
    background-color: white;
    font-size: 20px;
}
.Sup_contain_section_contain ul{
    margin-bottom: 50px;
}
.Sup_contain_section_contain li:hover{
    cursor: pointer;
}
.Sup_contain_section_contain li:first-child{
    border-bottom: 2px solid #9d9d9d;
}
.Sup_contain_section_contain li{
    margin-bottom: 30px;
    padding:0px  30px 0px 30px;
}
.Sup_contain_section_contain li:first-child{
    padding: 0px 0px;
}
.Sup_contain_section_contain li a:hover{
    text-decoration: none;
    color: red;
}
.Sup_contain_section_contain li a span{
}
/*�����*/
.Sup_contain_section_contain_01{
    position: absolute;
    left: 17%;
    /*top: 200px;*/
    top:-2000%;
    width: 1100px;
    background-color: white;
    font-size: 20px;
}
.Sup_contain_section_contain_01>ul:first-child>li{
    width: 200px;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid #9d9d9d;
    text-align: center;
    cursor: pointer;
    background-color: #cccccc;
    padding: 5px 0px;
}
#Sup_contain_section_contain_01_Nav{
    background-color: white;
    border-bottom: white;
    font-weight: 800;
}
.Left_line li{
    border-left: 1px solid #9d9d9d;
    border-right: 1px solid #9d9d9d;
}
.Sup_contain_section_contain_01_chose{
    width: inherit;
    padding: 40px 0px;
}
.Sup_contain_section_contain_01_chose select{
    width: 150px;
    cursor: pointer;
    padding: 5px 0px;
}
.Sup_contain_section_contain_01_chose input{
    width: 150px;
    padding: 5px 0px;
}
.Sup_contain_section_contain_01_chose button{
    width: 80px;
    background-color: white;
    outline: none;
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    padding: 5px 0px;
}
/*��չʾ*/
/*������Ӫ����*/
.Sup_contain_section_contain_01_contain1{
    width: inherit;
    position: absolute;
    left: 0px;
    /*top: 150px;*/
    top: -2000%;
}
.Sup_contain_section_contain_01_contain1 table{
    width: inherit;
}
.Sup_contain_section_contain_01_contain1 td{
    text-align: center;
    padding: 10px 0px;
    border: 1px solid #9d9d9d;
}
/*��ܻ���*/
.Sup_contain_section_contain_01_contain2{
    width: inherit;
    position: absolute;
    left: 0px;
    top: 150px;
    /*top: -200%;*/
}
.Sup_contain_section_contain_01_contain2 table{
    width: inherit;
}
.Sup_contain_section_contain_01_contain2 td{
    text-align: center;
    padding: 10px 0px;
    border: 1px solid #9d9d9d;
}
.pagination-sm>li>a, .pagination-sm>li>span {
    padding: 5px 20px;
    font-size: 20px;
    line-height: 1.5;
}
/*��������*/
.Sup_contain_section_contain_02{
    position: absolute;
    left: 17%;
    /*top: 200px;*/
    top:-2000%;
    width: 1100px;
    background-color: white;
    font-size: 20px;
}
.Sup_contain_section_contain_02>button{
    width: 120px;

}
.Sup_contain_section_contain_02 table{
    width: 100%;
    margin-top: 50px;
}
.Sup_contain_section_contain_02 td,th{
    text-align: center;
    padding: 10px 0px;
    border: 1px solid #9d9d9d;
}
.Sup_contain_section_contain_02 a{
    margin-left: 30px;
}
.Sup_contain_section_contain_02 a:hover{
    /*text-decoration: none;*/
    color: blue;
}
/*�Ѱ�����*/
.Sup_contain_section_contain_03{
    position: absolute;
    left: 14%;
    /*top: 200px;*/
    top:-2000%;
    width: 1100px;
    background-color: white;
    font-size: 20px;
}
.Sup_contain_section_contain_03>ul:first-child>li{
    width: 200px;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid #9d9d9d;
    text-align: center;
    cursor: pointer;
    background-color: #cccccc;
    height: 40px;
    line-height: 40px;
}
/*�����*/
.Sup_contain_section_contain_03_chose1{
    width: inherit;
    padding: 40px 0px;
    position: absolute;
    left: 0px;
    top: 40px;
    /*top: -2000%;*/
}
.Sup_contain_section_contain_03_chose1 select{
    width: 150px;
    cursor: pointer;
    padding: 5px 0px;
}
.Sup_contain_section_contain_03_chose1 input{
    width: 150px;
    padding: 5px 0px;
}
.Sup_contain_section_contain_03_chose1 button{
    width: 80px;
    background-color: white;
    outline: none;
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    padding: 5px 0px;
}
.Sup_contain_section_contain_03_chose1 table{
    width: 100%;
    margin-top: 50px;
}
.Sup_contain_section_contain_03_chose1 td,th{
    text-align: center;
    padding: 10px 0px;
    border: 1px solid #9d9d9d;
}
.Sup_contain_section_contain_03_chose1 a:hover{
    /*text-decoration: none;*/
    color: blue;
}
/*�Ѱ���*/
.Sup_contain_section_contain_03_chose{
    width: inherit;
    padding: 40px 0px;
    position: absolute;
    left: 0px;
    /*top: 40px;*/
    top: -2000%;
}
.Sup_contain_section_contain_03_chose select{
    width: 150px;
    cursor: pointer;
    padding: 5px 0px;
}
.Sup_contain_section_contain_03_chose input{
    width: 150px;
    padding: 5px 0px;
}
.Sup_contain_section_contain_03_chose button{
    width: 80px;
    background-color: white;
    outline: none;
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    padding: 5px 0px;
}
.Sup_contain_section_contain_03_chose table{
    width: 100%;
    margin-top: 50px;
}
.Sup_contain_section_contain_03_chose td,th{
    text-align: center;
    padding: 10px 0px;
    border: 1px solid #9d9d9d;
}
.Sup_contain_section_contain_03_chose a:hover{
    /*text-decoration: none;*/
    color: blue;
}
/*�ҵ�����*/
.Sup_contain_section_contain_04{
    position: absolute;
    left: 14%;
    /*top: 200px;*/
    top:-2000%;
    width: 1100px;
    background-color: white;
    font-size: 20px;
}
.Sup_contain_section_contain_04>button{
    width: 120px;

}
.Sup_contain_section_contain_04 table{
    width: 100%;
    margin-top: 50px;
}
.Sup_contain_section_contain_04 td,th{
    text-align: center;
    padding: 10px 0px;
    border: 1px solid #9d9d9d;
}
.Sup_contain_section_contain_04 a{
    margin-left: 30px;
}
.Sup_contain_section_contain_04 a:hover{
    /*text-decoration: none;*/
    color: blue;
}
.add_top{
    top: 200px;
}