<link rel="stylesheet" href="/assets/css/sys/sysCodeRule/sysCodeRuleEdit.css">
<div class="Sup_contain_section col-lg-12 col-xs-12 col-sm-12 col-md-12 ">
    <div class="Sup_contain_section_head fl col-lg-12 col-xs-12 col-sm-12 col-md-12">
        <h2 id="Sup_contain_section_head_h2" class="col-lg-12 col-xs-12 col-sm-12 col-md-12"><a href=""><span style="color: #4CA1D7">系统管理</span></a> > <a ui-sref="index.content.sys/sysCodeRule/sysCodeRule"><span style="color: #4CA1D7">编码规则管理</span></a>
        </h2>
    </div>
    <p class="col-lg-1 col-xs-0 col-sm-1 col-md-1"></p>
    <div>
        <form>
            <div class="Sup_contain_select">
                <table style="text-align: center" class="table-striped">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>业务类型</td>
                        <td></td>
                        <td>编码属性</td>
                        <td></td>
                        <td>备案类型</td>
                        <td></td>
                        <td>主体类型</td>
                        <td></td>
                        <td>组织类型</td>
                        <td></td>
                        <td>其他</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>编码规则设置</td>
                        <td><input value="{{ios}}.{{area}}.{{country}}.{{industry}}.{{platformLevel}}"></td>
                        <td>.</td>
                        <td><input value="{{platformType}}"></td>
                        <td>.</td>
                        <td><input value="{{codeAttrs}}"></td>
                        <td>.</td>
                        <td><input value="{{caseType}}"></td>
                        <td>.</td>
                        <td><input value="{{mainType}}"></td>
                        <td>.</td>
                        <td><input value="{{organization}}"></td>
                        <td>.</td>
                        <td><input></td>
                        <td>
                            <button ng-click="saveCodeRule()">保存</button>
                        </td>
                    </tr>
                </table>
            </div>
            <hr>
            <p class="col-lg-4 col-xs-0 col-sm-4 col-md-4"></p>
            <div style="text-align: center" class="col-lg-8 col-xs-8 col-sm-8 col-md-8">
                <table class="selectTable" border="1">
                    <!-- 农业行业代码-->
                    <tr>
                        <td rowspan="4">农业行业代码</td>
                        <td colspan="2">
                            &nbspIOS
                            <select ng-model="ios" name="ios">
                                <option value="0">0</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            区域
                            <select ng-model="area" name="area">
                                <option value="8">8</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            国家
                            <select ng-model="country" name="country">
                                <option value="7">7</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            行业
                            <select ng-model="industry" name="industry">
                                <option value="1">1</option>
                            </select>
                        </td>
                    </tr>

                    <!--平台级别-->
                    <tr>
                        <td>平台级别</td>
                        <td colspan="2">
                            &nbsp级别
                            <select ng-model="platformLevel" name="platformLevel">
                                <option value="2">2</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>平台业务类型</td>
                        <td colspan="2">
                            &nbsp类型
                            <select ng-model="platformType" name="platformType">
                                <option></option>
                                <option value="5">5</option>
                            </select>
                        </td>
                    </tr>
                    <!--编码属性-->
                    <tr>
                        <td rowspan="4">编码属性</td>
                        <td><input name="codeAttrs" ng-model="codeAttrs" value="0" type="radio"><span>0主体身份码</span></td>

                        <td><input name="codeAttrs" ng-model="codeAttrs" value="1" type="radio"><span>1主体用户码</span></td>
                    </tr>
                    <tr>
                        <td style="display: none"></td>
                        <td><input name="codeAttrs" ng-model="codeAttrs" value="2" type="radio"><span>2产品批次码</span></td>
                        <td><input name="codeAttrs" ng-model="codeAttrs" value="3" type="radio"><span>3产品追溯码</span></td>
                    </tr>
                    <tr>
                        <td style="display: none"></td>
                        <td><input name="codeAttrs" ng-model="codeAttrs" value="4" type="radio"><span>4主体临时身份码</span></td>
                        <td><input name="codeAttrs" ng-model="codeAttrs" value="5" type="radio"><span>5产品临时码</span><br></td>
                    </tr>
                    <tr>
                        <td style="display: none"></td>
                        <td><input name="codeAttrs" ng-model="codeAttrs" value="6" type="radio"><span>6入市追溯码</span></td>
                    </tr>

                    <!--备案类型-->
                    <tr>
                        <td>备案类型</td>
                        <td><input name="caseType" ng-model="caseType" value="0" type="radio"><span>0临时备案</span></td>
                        <td><input name="caseType" ng-model="caseType" value="1" type="radio"><span>1正式备案</span></td>
                    </tr>

                    <tr>
                        <td rowspan="2">主体类型</td>
                        <td><input name="mainType" ng-model="mainType" value="0" type="radio"><span>0生产主体</span></td>
                        <td><input name="mainType" ng-model="mainType" value="1" type="radio"><span>1经营主体</span></td>
                    </tr>
                    <tr>
                        <td style="display: none"></td>
                        <td><input name="mainType" ng-model="mainType" value="2" type="radio"><span>2生产经营主体</span></td>
                        
                    </tr>

                    <!--组织类型-->
                    <tr>
                        <td>组织类型</td>
                        <td><input name="organization" ng-model="organization" value="0" type="radio"><span>0企业</span></td>
                        <td><input name="organization" ng-model="organization" value="1" type="radio"><span>1个人</span></td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
    <p class="col-lg-1 col-xs-0 col-sm-1 col-md-1"></p>
</div>
