<link rel="stylesheet" href="../../assets/css/monitor/base.css" />
<div class="gui-breadcrumbs">
    <a href="">监测系统</a>&gt;
    <a href="">监测模型</a>&gt;
    <a href="">基本配置</a>&gt;
    <span>判定标准</span>
</div>
<div class="gui-section">
    <!--nav-->
    <ul class="gui-tab" role="tablist">
        <li role="presentation" class="pointer"><a role="tab" data-toggle="tab" ng-click="goCheckObject()">检测对象</a></li>
        <li role="presentation" class="pointer"><a role="tab" data-toggle="tab" ng-click="goCheckStandard()">检测标准</a></li>
        <li role="presentation" class="pointer"><a role="tab" data-toggle="tab" ng-click="goCheckItem()">检测项目</a></li>
        <!--<li role="presentation" class="pointer"><a role="tab" data-toggle="tab" ng-click="goModelType()">模型种类</a></li>-->
        <li role="presentation" class="pointer"><a role="tab" data-toggle="tab" ng-click="goSampleLink()">抽样环节</a></li>
        <li role="presentation" class="active"><a role="tab" data-toggle="tab" ng-click="goJudgeStabdard()">判定标准</a></li>
    </ul>
    <div class="gui-form-group clearfix">
        <input type="text" class="gui-input" id="judge_name" placeholder="请输入判定标准名称">
        <span class="gui-btn" id="search">查询</span>
        <!--<button class="pull-right " ng-click="batchDelete()">删除</button>
             <button class="pull-right  mgr-10" ng-click="showAddModal()" >新增</button>-->
    </div>
    <table id="grid" class="gui-table mt15" style="width: 100%">
    </table>
</div>
<!-- Modal -->
<div class="modal fade" id="dModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-stylesm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">新增判定标准</h4>
            </div>
            <div class="modal-body clearfix gov-h">
                <form class="form-horizontal" role="form">
                    <div class="form-group" style="margin-top: 30px;">
                        <label class="col-sm-3 control-label">标准名称</label>
                        <div class="col-sm-6 mgl-30">
                            <input type="text" name="name" placeholder="请输入判定标准名称">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer mgt-15">
                <span class="gui-btn btn btn-link" data-dismiss="modal">关闭</span>
                <span class="gui-btn" type="button" ng-click="addJudgeStandard()">添加</span>
            </div>
        </div>
    </div>
</div>
