<link rel="stylesheet" href="assets/css/asms/subjSv/subjInt.css"/>
<div class="gui-mainBc">
    <div class="gui-breadcrumbs">
        <a href="javascript:void(0)">监管系统</a>&gt;
        <a ui-sref="index.content.asms/subjEnt/subjEntList">主体管理</a>&gt;
        <span>生产经营主体</span>
    </div>
    <div class="gui-TabCut " >
        <ul class="clearfix gov-h" >
            <li class="fl gp-r subjEntList" ui-sref="index.content.asms/subjEnt/subjEntList">生产经营主体信息</li>
            <li class="fl subjEntTempList" style="display: none" ui-sref="index.content.asms/subjEnt/subjEntTempList">临时注册主体</li>
            <li class="fl gp-r subjEntRegisterList" style="display: none" ui-sref="index.content.asms/subjEnt/subjEntRegisterList">注册待审核<span class="news">{{registerToAuditCount}}</span></li>
            <li class="fl gp-r subjEntChangeList" style="display: none" ui-sref="index.content.asms/subjEnt/subjEntChangeList">注册变更待审核<span class="news">{{changeToAuditCount}}</span></li>
            <li class="fl gp-r subjEntRevokeList" style="display: none" ui-sref="index.content.asms/subjEnt/subjEntRevokeList">监管申请注销待审核<span class="news">{{revokeToAuditCount}}</span></li>
            <li class="fl gp-r subjEntCancelList" style="display: none;width: 180px" ui-sref="index.content.asms/subjEnt/subjEntCancelList">主体申请注销待审核<span class="news">{{cancelToAuditCount}}</span></li>
            <li class="fl gui-TabCheck" ui-sref="index.content.asms/subjEnt/subjEntSPYBList">三品一标主体</li>
        </ul>
        <div class="gui-botLine"></div>
    </div>
    <div class="gui-section ">
        <div class="">
            <form id="queryForm" class=" gui-form-group " style="">
                <div class="mt15">
                    <span>认证类型</span>
                    <input type="checkbox" value="" checked name="spybLicTypeLimit" ng-click="limitCheckBoxAll('spybLicType','spybLicTypeLimit')"><span class="checkedIndustryTypeText">不限</span>
                    <span ng-repeat="a in authenticationType">
                    <input type="checkbox" value="{{a.dictValue}}" name="spybLicType" ng-click="limitCheckBox('spybLicTypeLimit','spybLicType')"><span class="checkedIndustryTypeText" ng-bind="a.dictName"></span>
                    </span>
                </div>
                <div class="mt15">
                    <span>信息完善情况</span>
                    <input type="checkbox" value="" checked name="approveStatusLimit" ng-click="limitCheckBoxAll('approveStatus','approveStatusLimit')"><span class="checkedApproveStatusText">不限</span>
                    <input type="checkbox" value="2" name="approveStatus" ng-click="limitCheckBox('approveStatusLimit','approveStatus')"><span class="checkedApproveStatusText">未完善</span>
                    <input type="checkbox" value="0,1,3,4,5,6,7" name="approveStatus" ng-click="limitCheckBox('approveStatusLimit','approveStatus')"><span class="checkedApproveStatusText">已完善</span>
                </div>
                <div class="mt15">
                    <span>单位性质</span>
                    <input type="checkbox" value="" checked name="entityScaleLimit" ng-click="limitCheckBoxAll('entityScale','entityScaleLimit')"><span class="checkedIndustryTypeText">不限</span>
                    <span ng-repeat="a in orgMode">
                    <input type="checkbox" value="{{a.id}}" name="entityScale" ng-click="limitCheckBox('entityScaleLimit','entityScale')"><span class="checkedIndustryTypeText" ng-bind="a.dictName"></span>
                    </span>
                </div>
                <div class="condition-item">
                    <span>注册日期</span>
                    <input id="dateBegin" name="dateBegin" style="cursor: pointer;width: 120px;" class="Wdate gui-input" type="text" onFocus="var endDate=$dp.$('dateEnd');WdatePicker({onpicked:function(){endDate.focus();},maxDate:'#F{$dp.$D(\'dateEnd\')}'})" /> --
                    <input id="dateEnd" name="dateEnd" class="Wdate gui-input" style="cursor: pointer;width: 120px;margin-left: 10px;" type="text" onFocus="WdatePicker({minDate:'#F{$dp.$D(\'dateBegin\')}'})" />
                    <span>主体名称</span>
                    <input class="gui-input" type="text" style="width: 150px;" placeholder="请输入主体名称" name="entName"/>
                </div>
                <div class="condition-item condition-custom" data-control="text" ng-show="visiblelegalName">
                    <span>法人姓名</span>
                    <input class="gui-input" ng-model="legalName" maxlength="80" type="text" placeholder="请输入法人姓名" name="legalName" />
                </div>
                <div class="condition-item condition-custom" data-control="text" ng-show="visiblelegalPhone">
                    <span>法人联系电话</span>
                    <input class="gui-input" ng-model="legalPhone" maxlength="80" type="text" placeholder="请输入法人联系电话" name="legalPhone" />
                </div>
                <div class="condition-item condition-custom" data-control="text" ng-show="visiblecontactName">
                    <span>联系人姓名</span>
                    <input class="gui-input" ng-model="contactName" maxlength="80" type="text" placeholder="请输入联系人姓名" name="contactName" />
                </div>
                <div class="condition-item condition-custom" data-control="text" ng-show="visiblecontactPhone">
                    <span>联系人电话</span>
                    <input class="gui-input" ng-model="contactPhone" maxlength="80" type="text" placeholder="请输入联系人电话" name="contactPhone" />
                </div>
                <div class="condition-item condition-custom" data-control="text" ng-show="visiblecontactEmail">
                    <span>电子邮箱</span>
                    <input class="gui-input" ng-model="contactEmail" maxlength="80" type="text" placeholder="请输入电子邮箱" name="contactEmail" />
                </div>
                <div class="condition-item condition-custom" data-control="text" ng-show="visiblefaxNumber">
                    <span>传真号码</span>
                    <input class="gui-input" ng-model="faxNumber" maxlength="80" type="text" placeholder="请输入传真号码" name="faxNumber" />
                </div>
                <div class="condition-item condition-custom" data-control="text" ng-show="visibleaddress">
                    <span>详细地址</span>
                    <input class="gui-input" ng-model="address" maxlength="80" type="text" placeholder="请输入详细地址" name="address" />
                </div>
                <div class="mt15">
                    <button class="gui-btn" ng-disabled="!!btnDisabled" ng-click="querySubjEntList($event)">查询</button>
                    <button class="gui-btn" ng-click="reloadArea($event)">重置</button>
                </div>
                <span href="#modalCondition" data-toggle="modal" class="custom-condition">自定义条件</span>
            </form>
            <!-- 图表面板 -->
            <div class="gui-table-panel clearfix">
                <p class="table-total" ng-show="isListView">符合条件的数据总计: {{tableTotal}} 项</p>
                <!-- 切换视图展示 -->
                <div class="view-type">展示方式
                    <i class="gui-icon icon-list highlight" ng-class="{'highlight': isListView}" ng-click="toggleView(true)" title="以列表视图展示"></i>
                    <i class="gui-icon icon-chart" ng-class="{'highlight': !isListView }" ng-click="toggleView(false)" title="以图形视图展示"></i>
                </div>
            </div>
            <!-- 图表区域 -->
            <div class="gui-content-slide">
                <div ng-style="{'transform': viewX}" class="content-wrap">
                    <div class="content-block">
                        <table id="entGrid" class="gui-table table-nowrap mt15" style="width: 100%">
                        </table>
                    </div>
                    <div class="content-block">
                        <div sg-chart options="vm.chartOptions" update="vm.chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<!-- Modal -->
<div class="modal fade" id="modalCondition" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">请选择自定义条件</h4>
            </div>
            <div class="modal-body">
                <form novalidate="novalidate">
                    <div class="list-head">
                        <label>
                            <input type="checkbox" class="condition-checked-all" />全选
                        </label>
                    </div>
                    <ul class="gui-list list-condition">
                        <li class="disabled">
                            <label>
                                <input type="checkbox" checked disabled />认证类型
                            </label>
                        </li>
                        <li class="disabled">
                            <label>
                                <input type="checkbox" checked disabled>信息完善情况
                            </label>
                        </li>
                        <li class="disabled">
                            <label>
                                <input type="checkbox" checked disabled>单位性质
                            </label>
                        </li>
                        <li class="disabled">
                            <label>
                                <input type="checkbox" checked disabled>注册时间
                            </label>
                        </li>
                        <li class="disabled">
                            <label>
                                <input type="checkbox" checked disabled>主体名称
                            </label>
                        </li>
                        <li data-key="legalName">
                            <label>
                                <input type="checkbox">法人姓名
                            </label>
                        </li>
                        <li data-key="legalPhone">
                            <label>
                                <input type="checkbox">法人联系电话
                            </label>
                        </li>
                        <li data-key="contactName">
                            <label>
                                <input type="checkbox">联系人
                            </label>
                        </li>
                        <li data-key="contactPhone">
                            <label>
                                <input type="checkbox">联系人电话
                            </label>
                        </li>
                        <li data-key="contactEmail">
                            <label>
                                <input type="checkbox">电子邮箱
                            </label>
                        </li>
                        <li data-key="faxNumber">
                            <label>
                                <input type="checkbox">传真号码
                            </label>
                        </li>
                        <li data-key="address">
                            <label>
                                <input type="checkbox">详细地址
                            </label>
                        </li>
                    </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="gui-btn" data-dismiss="modal">取消</button>
                <button type="button" class="gui-btn" ng-click="confirmCondition()">确定</button>
            </div>
        </div>
    </div>
</div>