<div class="gui-breadcrumbs">
    <a href="">用户主体管理</a>&gt;
    <span>管理员信息</span>
</div>
<div class="gui-section">
    <ul class="gui-list mt15">
        <li>
            <div class="form-item">
                <label>账号</label>
                <input type="text" class="gui-input" id="accounts" ng-model="accounts" name="accounts" readonly="readonly">
            </div>
        </li>
        <li>
            <div class="form-item">
                <label>主体名称</label>
                <input type="text" class="gui-input" id="enterpriseName" ng-model="enterpriseName" name="enterpriseName" readonly="readonly">
            </div>
        </li>
        <li>
            <div class="form-item">
                <label>主体地址</label>
                <input type="text" class="gui-input" id="address" ng-model="address" name="address" readonly="readonly">
            </div>
        </li>
        <li>
            <div class="form-item">
                <label>真实姓名</label>
                <input type="text" class="gui-input" id="realName" ng-model="realName" name="realName" readonly="readonly">
            </div>
        </li>
        <li>
            <div class="form-item">
                <label>联系电话</label>
                <input type="text" class="gui-input" id="contactPhone" ng-model="contactPhone" name="contactPhone" readonly="readonly">
            </div>
        </li>
        <li>
            <div class="form-item">
                <label>电子邮箱</label>
                <input type="text" class="gui-input" id="contactEmail" ng-model="contactEmail" name="contactEmail" readonly="readonly">
            </div>
        </li>
        <li>
            <div class="form-item">
                <label>身份证号码</label>
                <input type="text" class="gui-input" id="legalIdnumber" ng-model="legalIdnumber" name="legalIdnumber" readonly="readonly">
            </div>
        </li>
    </ul>
</div>

