<div class="gui-breadcrumbs">
    <a href="">优化建议</a>&gt;
    <span>查看</span>
</div>
<div class="gui-section">
    <div class="ovh">
        <ul class="gui-list">
            <li>
                <div class="form-item"><span class="title">标题</span>
                    <input ng-model="title" readonly="readonly" type="text" class="gui-input">
                </div>
            </li>
            <li>
                <div class="form-item"><span class="title">内容</span>
                    <input ng-model="content" readonly="readonly" type="text" class="gui-input">
                </div>
            </li>
            <li>
                <div class="form-item"><span class="title">时间</span>
                    <input ng-model="time" readonly="readonly" type="text" class="gui-input">
                </div>
            </li>
            <li>
                <div class="form-item"><span class="title">附件名称</span>
                    <input ng-model="attachName" readonly="readonly" type="text" class="gui-input">
                </div>
            </li>
            <li>
                <div class="form-item"><span class="title">附件路径</span>
                    <input ng-model="attachPath" readonly="readonly" type="text" class="gui-input">
                </div>
            </li>
            <li>
                <div class="form-item"><span class="title">主体身份码</span>
                    <input ng-model="entityIdcode" readonly="readonly" type="text" class="gui-input">
                </div>
            </li>
            <li>
                <div class="form-item"><span class="title">主体用户码</span>
                    <input ng-model="userIdcode" readonly="readonly" type="text" class="gui-input">
                </div>
            </li>
            <li>
                <div class="form-item"><span class="title">IP地址</span>
                    <input ng-model="ip" readonly="readonly" type="text" class="gui-input">
                </div>
            </li>
            <li>
                <div class="text-center">
                    <button class="gui-btn" ng-click="removeLocalStorage()" ui-sref="index.content.tts/TtsScltxxcjProposal/TtsScltxxcjProposallist">关闭</button>
                </div>
            </li>
        </ul>
    </div>
</div>
