<link rel="stylesheet" href="../../assets/css/monitor/base.css" />
<div class="gui-breadcrumbs">
    <a href="">监测系统</a>&gt;
    <a href="">监测模型</a>&gt;
    <span>模型种类</span>
</div>
<div class="gui-section">
    <ul class="gui-tab" role="tablist">
        <li role="presentation" class="pointer"><a role="tab" data-toggle="tab" ng-click="goCheckObject()">检测对象</a></li>
        <li role="presentation" class="pointer"><a role="tab" data-toggle="tab" ng-click="goCheckStandard()">检测标准</a></li>
        <li role="presentation" class="pointer"><a role="tab" data-toggle="tab" ng-click="goCheckItem()">检测项目</a></li>
        <li role="presentation" class="active"><a role="tab" data-toggle="tab" ng-click="goModelType()">模型种类</a></li>
        <li role="presentation" class="pointer"><a role="tab" data-toggle="tab" ng-click="goSampleLink()">抽样环节</a></li>
        <li role="presentation" class="pointer"><a role="tab" data-toggle="tab" ng-click="goJudgeStabdard()">判定标准</a></li>
    </ul>
    <div class="gui-form-group clearfix">
        <input class="gui-input" type="text" id="nameS" name="nameS" placeholder="请输入种类名称">
        <span class="gui-btn" id="seachTask">查询</span>
        <!--<span class="pull-right  mgr-10 gui-btn" onclick="delAdsModelType()">删除</span>-->
    </div>
    <div class="gui-actions">
        <span class="fr gui-btn" ng-click="addAdsModel()"><i class="gui-icon icon-add"></i>新增</span>
    </div>
    <table id="grid" class="gui-table mt15" style="width: 100%">
    </table>
</div>
<!-- 新增模型_种类model -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-stylesm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="text-align: center">新增模型_种类</h4>
            </div>
            <div class="modal-body" style="min-height: 80px;">
                <form class="form-horizontal" id="addAdsModelType" data-bv-excluded>
                    <div class="form-group line-20">
                        <p></p>
                        <label class="col-sm-5 control-task text-right">种类名称:&nbsp&nbsp</label>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <input type="text" id="name" name="name" class="form-control text-height-28" data-bv-notempty="true" data-bv-notempty-message="内容不能是空" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="text-align:center;">
                <span class="gui-btn" type="button" data-dismiss="modal">关闭</span>
                <span class="gui-btn" type="button" ng-click="addAdsModelType()">确定</span>
            </div>
        </div>
    </div>
</div>
<!-- 修改模型_种类model -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-stylesm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="text-align: center">修改模型_种类</h4>
            </div>
            <div class="modal-body" style="min-height: 80px;">
                <form class="form-horizontal" id="updateAdsModelType" data-bv-excluded>
                    <div class="form-group line-20">
                        <p></p>
                        <label class="col-sm-5 control-task text-right">种类名称:&nbsp&nbsp</label>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <input type="hidden" id="id" name="id" />
                                <input type="text" id="nameU" name="nameU" class="form-control text-height-28" data-bv-notempty="true" data-bv-notempty-message="内容不能是空" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="text-align:center;">
                <span class="gui-btn" type="button" data-dismiss="modal">关闭</span>
                <span class="gui-btn" type="button" ng-click="updateAdsModel()">确定</span>
            </div>
        </div>
    </div>
</div>
