<link rel="stylesheet" href="assets/css/asms/subjSv/subjSvList.css"/>
<div class="gui-mainBc">
    <div class="gui-breadcrumbs">
        <a href="">查询系统</a>&gt;
        <a href="">监管信息查询</a>&gt;
        <span>打印查询</span>
    </div>
    <div class="gui-section ">
        <div class="">
            <form id="queryForm" class=" gui-form-group " style="">
                <div class="mt15">
                    <span id="AnyArea">所属区域</span>
                    <div class="gui-select">
                        <select id="sheng" >
                            <option value="">省</option>
                        </select>
                    </div>
                    <div class="gui-select">
                        <select id="shi">
                            <option value="">市</option>
                        </select>
                    </div>
                    <div class="gui-select">
                        <select id="xian">
                            <option value="">区/县</option>
                        </select>
                    </div>
                </div>
                <div class="mt15">
                    <span>企业名称</span>
                    <input class="gui-input" maxlength="30" type="text" style="width: 150px;" placeholder="请输入企业名称" name="enterpriseName"/>
                    <span>产品名称</span>
                    <input class="gui-input" maxlength="30" type="text" style="width: 150px;" placeholder="请输入产品名称" name="productName"/>
                    <span>产品追溯码</span>
                    <input class="gui-input" type="text" style="width: 150px;" placeholder="请输入产品追溯码" name="productScglId"/>
                    <button class="gui-btn" ng-click="querySubjEntAndPrintInfoList()">查询</button>
                    <button class="gui-btn" ng-click="reloadArea()">重置</button>
                    <button class="gui-btn" ng-click="exportData()">导出</button>
                </div>
            </form>
            <table id="entGrid"
                   class="gui-table mt15" >
            </table>
        </div>
    </div>
</div>

<!--模态框-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog removeBor">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel" style="text-align: center">详细信息</h4>
            </div>
            <div class="modal-body clearfix gov-h">
                <div class="table-responsive">
                    <table id="detailPrintInfoTable" class="gui-table mt15">
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="gui-btn" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>