<link rel="stylesheet" href="assets/css/asms/subjSv/subjSvCancel.css"/>
<div class="gui-breadcrumbs">
    <a href="javascript:void(0)">监管系统</a>&gt;
    <a ui-sref="index.content.asms/subjSv/subjSvCancelList">主体管理</a>&gt;
    <a ui-sref="index.content.asms/subjSv/subjSvCancelList">监管机构</a>&gt;
    <span>注册注销审核</span>
</div>
    <div class=" gui-section gui-section-wid" >
        <h4 class="mt15 mb25">注册注销申请审核</h4>
        <form id="cancelForm" name="cancelForm">
            <input type="hidden" ng-model="subjSvCancelId">
            <input type="hidden" ng-model="subjSvCancel.applyUserId">
            <input type="hidden" ng-model="subjSvCancel.applyTime">
            <input type="hidden" ng-model="subjSvCancel.applySvId">
            <table class="ApplyTable">
                <tbody>
                <tr><td>机构名称</td><td><span ng-bind="subjSv.svName"></span></td></tr>
                <tr><td>机构代码</td><td><span ng-bind="subjSv.svCode"></span></td></tr>
                <tr><td>机构类别</td><td><span ng-bind="subjSv.svType"></span></td></tr>
                <tr><td>机构级别</td><td><span ng-bind="subjSv.svLevelName"></span></td></tr>
                <tr><td>所属区域</td><td><span ng-bind="subjSv.svArea"></span></td></tr>
                <tr><td>所属行业</td><td><span ng-bind="subjSv.industryName"></span></td></tr>
                <tr><td>通讯地址</td><td><span ng-bind="subjSv.svAddress"></span></td></tr>
                <tr><td>负责人</td><td><span ng-bind="subjSv.svLeader"></span></td></tr>
                <tr><td>负责人电话</td><td><span>{{subjSv.svLeaderPhone||'无'}}</span></td></tr>
                <tr><td>联系人</td><td><span ng-bind="subjSv.svContact"></span></td></tr>
                <tr><td>联系人电话</td><td><span ng-bind="subjSv.svContactPhone"></span></td></tr>
                <tr><td>联系人QQ</td><td><span>{{subjSv.svContactQQ||'无'}}</span></td></tr>
                <tr><td>电子邮箱</td><td><span>{{subjSv.svContactEmail||'无'}}</span></td></tr>
                <tr><td>邮编</td><td><span>{{subjSv.svPostcode||'无'}}</span></td></tr>
                <!--<tr class="accessory_img"><td>附件</td><td><img src="../../../../res/img/Work/实例图片.png" alt=""/></td></tr>-->
                <tr class="Sup_contain_section_contain_head_photo"><td style="vertical-align: middle">注销原因</td><td >
                    <textarea  class="form-control" style="max-width: 500px;background-color: #f6f6f6;border: none;outline: none;box-shadow: none" rows="3" readonly ng-model="subjSvCancel.applyReason">
                    </textarea>
                </td></tr>
                <tr class="Sup_contain_section_contain_head_photo"><td style="vertical-align: middle">审核意见<span style="color:red;">*</span></td>
                    <td colspan="2" style="text-align: left;" class="form-group">
                    <textarea style="max-width: 500px;border: none;outline: none;box-shadow: none;background-color: white" rows="3" name="auditSuggestion" ng-model="subjSvCancel.auditSuggestion"
                              class="form-control"
                              data-bv-notempty="true"
                              data-bv-notempty-message="审核意见不能为空"
                              data-bv-stringlength="true"
                              data-bv-stringlength-max="300"
                              data-bv-stringlength-message="审核意见不能超过300个字符"></textarea>
                </td></tr>
                </tbody>
            </table>
        </form>
        <div style="text-align: center" class="mt15 mb25">
            <button id="passBut"   style="display: none;" class="gui-btn" ng-click="auditSubjSvCancel(1)">审核通过</button>
            <button id="refuseBut" style="display: none;" class="gui-btn" ng-click="auditSubjSvCancel(2)">审核不通过</button>
            <button id="closeBut" class="gui-btn" ng-click="removeLocalStorage()">关闭</button>
        </div>

    </div>