<link rel="stylesheet" href="assets/css/asms/subjSv/subjSvView.css"/>
<div class="gui-breadcrumbs">
    <a href="javascript:void(0)">监管系统</a>&gt;
    <a ui-sref="index.content.asms/subjSv/subjSvList">主体管理</a>&gt;
    <a ui-sref="index.content.asms/subjSv/subjSvList">监管机构</a>&gt;
    <span>查看</span>
</div>
    <div class="Sup_contain_section_contain_head gui-section gui-section-wid" >
        <p style="font-size: 25px;width:85%;margin-bottom: 20px;">注册详情</p>
        <ul >
            <li>
                <!--<span>机构名称</span> <input ng-model="subjSv.svName" readonly="readonly" type="text" class="Sup_contain_section_contain_input"/>-->
                <div class="form-group">
                    <label class="col-lg-3 col-sm-3 col-md-3 control-label">机构名称 :</label>
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <input type="text" readonly="readonly" ng-model="subjSv.svName" class="form-control"/>
                    </div>
                </div>
            </li>
            <li>
                <div class="form-group">
                    <label class="col-lg-3 col-sm-3 col-md-3 control-label">机构代码 :</label>
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <input type="text" readonly="readonly" ng-model="subjSv.svCode" class="form-control"/>
                    </div>
                </div>
            </li>
            <li>
                <div class="form-group">
                    <label class="col-lg-3 col-sm-3 col-md-3 control-label">机构类别 :</label>
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <input type="text" readonly="readonly" ng-model="subjSv.svType" class="form-control"/>
                    </div>
                </div>
            </li>
            <li>
                <div class="form-group">
                    <label class="col-lg-3 col-sm-3 col-md-3 control-label">机构级别 :</label>
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <input type="text" readonly="readonly" ng-model="subjSv.svLevel" class="form-control"/>
                    </div>
                </div>
            </li>
            <li>
                <div class="form-group">
                    <label class="col-lg-3 col-sm-3 col-md-3 control-label">所属区域 :</label>
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <input type="text" readonly="readonly" ng-model="subjSv.svArea" class="form-control"/>
                    </div>
                </div>
            </li>
            <li>
                <div class="form-group">
                    <label class="col-lg-3 col-sm-3 col-md-3 control-label">所属行业 :</label>
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <input type="text" readonly="readonly" ng-model="subjSv.industryName" class="form-control"/>
                    </div>
                </div>
            </li>
            <li>
                <div class="form-group">
                    <label class="col-lg-3 col-sm-3 col-md-3 control-label">通讯地址 :</label>
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <input type="text" readonly="readonly" ng-model="subjSv.svAddress" class="form-control"/>
                    </div>
                </div>
            </li>
            <li>
                <div class="form-group">
                    <label class="col-lg-3 col-sm-3 col-md-3 control-label">负责人 :</label>
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <input type="text" readonly="readonly" ng-model="subjSv.svLeader" class="form-control"/>
                    </div>
                </div>
            </li>
            <li>
                <div class="form-group">
                    <label class="col-lg-3 col-sm-3 col-md-3 control-label">负责人电话 :</label>
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <input type="text" readonly="readonly" ng-model="subjSv.svLeaderPhone" class="form-control"/>
                    </div>
                </div>
            </li>
            <li>
                <div class="form-group">
                    <label class="col-lg-3 col-sm-3 col-md-3 control-label">联系人 :</label>
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <input type="text" readonly="readonly" ng-model="subjSv.svContact" class="form-control"/>
                    </div>
                </div>
            </li>
            <li>
                <div class="form-group">
                    <label class="col-lg-3 col-sm-3 col-md-3 control-label">联系人电话 :</label>
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <input type="text" readonly="readonly" ng-model="subjSv.svContactPhone" class="form-control"/>
                    </div>
                </div>
            </li>
            <li>
                <div class="form-group">
                    <label class="col-lg-3 col-sm-3 col-md-3 control-label">联系人QQ :</label>
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <input type="text" readonly="readonly" ng-model="subjSv.svContactQQ" class="form-control"/>
                    </div>
                </div>
            </li>
            <li>
                <div class="form-group">
                    <label class="col-lg-3 col-sm-3 col-md-3 control-label">电子邮箱 :</label>
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <input type="text" readonly="readonly" ng-model="subjSv.svContactEmail" class="form-control"/>
                    </div>
                </div>
            </li>
            <li>
                <div class="form-group">
                    <label class="col-lg-3 col-sm-3 col-md-3 control-label">邮编 :</label>
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <input type="text" readonly="readonly" ng-model="subjSv.svPostcode" class="form-control"/>
                    </div>
                </div>
            </li>
        </ul>
        <p align="center">
            <button class="gui-btn mt15 mr15" ng-click="removeLocalStorage()">关闭</button>
        </p>
    </div>