<div class="gui-breadcrumbs">
    <a href="">通知消息</a>&gt;
    <a href="">通知消息</a>&gt;
    <span>查看</span>
</div>
<div class="gui-section">
    <div class="ovh">
        <ul class="gui-list">
            <li>
                <div class="form-item">
                    <input class="gui-input" align="center" ng-model="title" readonly="readonly" type="text">
                </div>
            </li>
            <li>
                <div class="form-item">
                    <textarea class="gui-textarea" readonly="readonly" ng-model="content" rows="10" cols="100"></textarea>
                </div>
            </li>
            <li class="text-center">
                <button class="gui-btn" ng-click="removeLocalStorage()" ui-sref="index.content.tts/TtsScltxxcjNotification/TtsScltxxcjNotificationlist">关闭</button>
            </li>
        </ul>
    </div>
</div>
