<div class="gui-breadcrumbs">
    <a href="">通知消息</a>&gt;
    <a href="">新增通知消息</a>&gt;
    <span>新增</span>
</div>
<div class="gui-section">
    <div class="ovh">
        <ul class="gui-list">
            <li>
                <div class="form-item">
                    <span class="title">来源主体身份码<span class="this-after">*</span></span>
                    <input type="text" ng-model="ttsScltxxcjNotification.beEntityIdcode" name="beEntityIdcode" placeholder="请输入来源主体身份码" class="gui-input">
                </div>
            </li>
            <li>
                <div class="form-item">
                    <span class="title">来源主体用户码<span class="this-after">*</span></span>
                    <input type="text" ng-model="ttsScltxxcjNotification.beUserIdcode" name="beUserIdcode" placeholder="请输入来源主体用户码" class="gui-input">
                </div>
            </li>
            <li>
                <div class="form-item">
                    <span class="title">主体身份码<span class="this-after">*</span></span>
                    <input type="text" ng-model="ttsScltxxcjNotification.entityIdcode" name="entityIdcode" placeholder="请输入主体身份码" class="gui-input">
                </div>
            </li>
            <li>
                <div class="form-item">
                    <span class="title">主体用户码<span class="this-after">*</span></span>
                    <input type="text" ng-model="ttsScltxxcjNotification.userIdcode" name="userIdcode" placeholder="请输入主体用户码" class="gui-input">
                </div>
            </li>
            <li>
                <div class="form-item">
                    <span class="title">标题<span class="this-after">*</span></span>
                    <input type="text" ng-model="ttsScltxxcjNotification.title" name="title" placeholder="请输入标题" class="gui-input">
                </div>
            </li>
            <li>
                <div class="form-item">
                    <span class="title">内容<span class="this-after">*</span></span>
                    <input type="text" ng-model="ttsScltxxcjNotification.content" name="content" placeholder="请输入内容" class="gui-input">
                </div>
            </li>
            <li>
                <div class="form-item">
                    <span class="title">创建时间<span class="this-after">*</span></span>
                    <input type="text" ng-model="ttsScltxxcjNotification.createTime" name="createTime" class="gui-input" style="" readonly="readonly" onclick="SelectDate(this)">
                </div>
            </li>
            <li>
                <div class="form-item">
                    <span class="title">修改时间<span class="this-after">*</span></span>
                    <input type="text" ng-model="ttsScltxxcjNotification.updateTime" name="updateTime" class="gui-input" style="" readonly="readonly" onclick="SelectDate(this)">
                </div>
            </li>
            <li>
                <div class="form-item">
                    <input type="hidden" ng-model="ttsScltxxcjNotification.delFlag" name="delFlag" value="Y">
                </div>
            </li>
            <li>
                <div class="text-center">
                    <button id="gui-btnlist" class="gui-btn mr15" ui-sref="index.content.tts/TtsScltxxcjNotification/TtsScltxxcjNotificationlist">取消</button>
                    <button id="gui-btn" class="gui-btn" ng-disabled="myform.JGname.$dirty&&myform.JGname.$invalid" ng-click="addTtsScltxxcjNotification()">提交</button>
                </div>
            </li>
        </ul>
    </div>
</div>
