<link rel="stylesheet" href="assets/css/asms/subjSv/subjSvList.css" />
<div class="gui-mainBc">
    <div class="gui-breadcrumbs">
        <a href="">查询系统</a>&gt;
        <a href="">主体信息查询</a>&gt;
        <span>生产经营主体</span>
    </div>
    <div class="gui-TabCut">
        <ul class="clearfix gov-h">
            <li class="fl gp-r qrySubjSvList" style="display: none" ui-sref="index.content.qry/subject/qrySubjSvList">监管机构主体</li>
            <li class="fl gp-r qrySubjDtList" style="display: none" ui-sref="index.content.qry/subject/qrySubjDtList">检测机构主体</li>
            <li class="fl gp-r qrySubjElList" style="display: none" ui-sref="index.content.qry/subject/qrySubjElList">执法机构主体</li>
            <li class="fl gp-r gui-TabCheck">生产经营主体</li>
            <!--<li class="fl gp-r qrySubjEntSPYBList" ui-sref="index.content.qry/subject/qrySubjEntSPYBList">三品一标主体</li>-->
        </ul>
        <div class="gui-botLine"></div>
    </div>
    <div class="gui-section ">
        <div class="">
            <form id="queryForm" class=" gui-form-group">
                <span>所属行业</span>
                <input type="checkbox" value="" name="entityIndustryLimit" ng-click="limitCheckBoxAll('entityIndustry','entityIndustryLimit')"><span class="checkedIndustryTypeText">不限</span>
                <span ng-repeat="a in industryType">
                    <input type="checkbox" value="{{a.id}}" name="entityIndustry" ng-click="limitCheckBox('entityIndustryLimit','entityIndustry')"><span class="checkedIndustryTypeText" ng-bind="a.dictName"></span>
                </span>
                <div class="mt15">
                    <span>主体属性</span>
                    <input type="checkbox" value="" name="entityPropertyLimit" ng-click="limitCheckBoxAll('entityProperty','entityPropertyLimit')"><span class="checkedEntityPropertyNameText">不限</span>
                    <span ng-repeat="a in entityProperty">
                    <input type="checkbox" value="{{a.id}}" name="entityProperty" ng-click="limitCheckBox('entityPropertyLimit','entityProperty')"><span class="checkedEntityPropertyNameText" ng-bind="a.dictName"></span>
                    </span>
                </div>
                <div class="mt15">
                    <span>主体状态</span>
                    <input type="checkbox" value="" name="approveStatusLimit" ng-click="limitCheckBoxAll('approveStatus','approveStatusLimit')"><span class="checkedApproveStatusText">不限</span>
                    <span ng-repeat="a in approveStatus">
                    <input type="checkbox" value="{{a.dictValue}}" name="approveStatus" ng-click="limitCheckBox('approveStatusLimit','approveStatus')"><span class="checkedApproveStatusText" ng-bind="a.dictName"></span>
                    </span>
                </div>
                <div class="mt15">
                    <span>激活状态</span>
                    <input type="checkbox" value="" name="activationStatusLimit" ng-click="limitCheckBoxAll('reactiveStatus','activationStatusLimit')"><span class="checkedApproveStatusText">不限</span>
                    <span ng-repeat="a in activationStatus">
                    <input type="checkbox" value="{{a.dictValue}}" name="reactiveStatus" ng-click="limitCheckBox('activationStatusLimit','reactiveStatus')"><span class="checkedApproveStatusText" ng-bind="a.dictName"></span>
                    </span>
                </div>
                <div class="mt15">
                    <span>组织形式</span>
                    <input type="checkbox" value="" name="entityScaleLimit" ng-click="limitCheckBoxAll('entityScale','entityScaleLimit')"><span class="checkedIndustryTypeText">不限</span>
                    <span ng-repeat="a in orgMode">
                    <input type="checkbox" value="{{a.id}}" name="entityScale" ng-click="limitCheckBox('entityScaleLimit','entityScale')"><span class="checkedIndustryTypeText" ng-bind="a.dictName"></span>
                    </span>
                </div>
                <div class="mt15">
                    <span>主体类别</span>
                    <input type="checkbox" value="" name="entityTypeLimit" ng-click="limitCheckBoxAll('entityType','entityTypeLimit')"><span class="checkedIndustryTypeText">不限</span>
                    <span ng-repeat="a in subjType">
                    <input type="checkbox" value="{{a.id}}" name="entityType" ng-click="limitCheckBox('entityTypeLimit','entityType')"><span class="checkedIndustryTypeText" ng-bind="a.dictName"></span>
                    </span>
                </div>
                <div class="mt15">
                    <span>认证类型</span>
                    <input type="checkbox" value="" name="spybLicTypeLimit" ng-click="limitCheckBoxAll('spybLicType','spybLicTypeLimit')"><span class="checkedIndustryTypeText">不限</span>
                    <span ng-repeat="a in authenticationType">
                    <input type="checkbox" value="{{a.dictValue}}" name="spybLicType" ng-click="limitCheckBox('spybLicTypeLimit','spybLicType')"><span class="checkedIndustryTypeText" ng-bind="a.dictName"></span>
                    </span>
                </div>
                <div class="mt15">
                    <span id="AnyArea">所属区域</span>
                    <div class="gui-select">
                        <select id="sheng">
                            <option value="">省</option>
                        </select>
                    </div>
                    <div class="gui-select">
                        <select id="shi">
                            <option value="">市</option>
                        </select>
                    </div>
                    <div class="gui-select">
                        <select id="xian">
                            <option value="">区/县</option>
                        </select>
                    </div>
                    <span>不良记录</span>
                    <div class="gui-select">
                        <select name="badRecord">
                            <option value="">全部</option>
                            <option value="0">无</option>
                            <option value="1">有</option>
                        </select>
                    </div>
                    <span>主体身份码</span>
                    <input class="gui-input" type="text" style="width: 200px;" placeholder="请输入主体身份码" name="userIdcode" />
                </div>
                <div>
                    <div class="condition-item">
                        <span>注册日期</span>
                        <input id="dateBegin" name="dateBegin" style="cursor: pointer;width: 120px;" class="Wdate gui-input" type="text" onFocus="var endDate=$dp.$('dateEnd');WdatePicker({onpicked:function(){endDate.focus();},maxDate:'#F{$dp.$D(\'dateEnd\')}'})" /> --
                        <input id="dateEnd" name="dateEnd" class="Wdate gui-input" style="cursor: pointer;width: 120px;margin-left: 10px;" type="text" onFocus="WdatePicker({minDate:'#F{$dp.$D(\'dateBegin\')}'})" />

                    </div>
                    <div class="condition-item">
                        <span>主体名称</span>
                        <input class="gui-input" maxlength="30" type="text" style="width: 150px;" placeholder="请输入主体名称" name="entName" />
                    </div>
                    <div class="condition-item">
                        <span>法人姓名</span>
                        <input class="gui-input" maxlength="30" type="text" style="width: 150px;" placeholder="请输入法人姓名" name="legalName" />
                    </div>
                    <!-- custom condition -->
                    <div class="condition-item condition-custom" data-control="select" ng-show="visiblecardType">
                        <span>证件类型</span>
                        <div class="gui-select">
                            <select id="cardTypeSelected" placeholder="请选择证件类型">
                                <option value="" ng-selected="true" selected>请选择</option>
                                <option value="三证合一营业执照（无独立组织机构代码证）">三证合一营业执照（无独立组织机构代码证）</option>
                                <option value="普通营业执照（有独立组织机构代码证）">普通营业执照（有独立组织机构代码证）</option>
                            </select>
                        </div>
                    </div>
                    <div class="condition-item condition-custom" data-control="text" ng-show="visiblecreditCode">
                        <span>企业注册号</span>
                        <input class="gui-input" ng-model="creditCode" maxlength="80" type="text" placeholder="请输入企业注册号" name="creditCode" />
                    </div>
                    <div class="condition-item condition-custom" data-control="text" ng-show="visibleorganizationCode">
                        <span>组织机构代码证</span>
                        <input class="gui-input" ng-model="organizationCode" maxlength="80" type="text" placeholder="请输入组织机构代码证" name="organizationCode" />
                    </div>
                    <div class="condition-item condition-custom" data-control="date" ng-show="visiblebusinessOperation">
                        <span>营业期限</span>
                        <input id="businessOperationStart" name="businessOperationStart" style="cursor: pointer;width: 120px;" class="Wdate gui-input" type="text" onFocus="var endDate=$dp.$('businessOperationEnd');WdatePicker({onpicked:function(){endDate.focus();},maxDate:'#F{$dp.$D(\'dateEnd\')}'})" /> --
                        <input id="businessOperationEnd" name="businessOperationEnd" class="Wdate gui-input" style="cursor: pointer;width: 120px;margin-left: 10px;" type="text" onFocus="WdatePicker({minDate:'#F{$dp.$D(\'businessOperationStart\')}'})" />
                    </div>
                    <div class="condition-item condition-custom" data-control="text" ng-show="visibleaddress">
                        <span>详细地址</span>
                        <input class="gui-input" ng-model="address" maxlength="80" type="text" placeholder="请输入详细地址" name="address" />
                    </div>
                    <div class="condition-item condition-custom" data-control="text" ng-show="visiblelegalIdnumber">
                        <span>法人身份证号</span>
                        <input class="gui-input" ng-model="legalIdnumber" maxlength="80" type="text" placeholder="请输入法人身份证号" name="legalIdnumber" />
                    </div>
                    <div class="condition-item condition-custom" data-control="text" ng-show="visiblelegalPhone">
                        <span>法人联系电话</span>
                        <input class="gui-input" ng-model="legalPhone" maxlength="80" type="text" placeholder="请输入法人联系电话" name="legalPhone" />
                    </div>
                    <div class="condition-item condition-custom" data-control="text" ng-show="visiblecontactName">
                        <span>联系人姓名</span>
                        <input class="gui-input" ng-model="contactName" maxlength="80" type="text" placeholder="请输入联系人姓名" name="contactName" />
                    </div>
                    <div class="condition-item condition-custom" data-control="text" ng-show="visibleidcode">
                        <span>联系人身份证号</span>
                        <input class="gui-input" ng-model="idcode" maxlength="80" type="text" placeholder="请输入联系人身份证号" name="idcode" />
                    </div>
                    <div class="condition-item condition-custom" data-control="text" ng-show="visiblecontactPhone">
                        <span>联系人电话</span>
                        <input class="gui-input" ng-model="contactPhone" maxlength="80" type="text" placeholder="请输入联系人电话" name="contactPhone" />
                    </div>
                    <div class="condition-item condition-custom" data-control="text" ng-show="visiblecontactEmail">
                        <span>电子邮箱</span>
                        <input class="gui-input" ng-model="contactEmail" maxlength="80" type="text" placeholder="请输入电子邮箱" name="contactEmail" />
                    </div>
                    <div class="condition-item condition-custom" data-control="text" ng-show="visiblefaxNumber">
                        <span>传真号码</span>
                        <input class="gui-input" ng-model="faxNumber" maxlength="80" type="text" placeholder="请输入传真号码" name="faxNumber" />
                    </div>

                    <button class="gui-btn"  ng-disabled="!!btnDisabled" ng-click="querySubjEntList($event)">查询</button>
                    <button class="gui-btn" ng-click="reloadArea($event)">重置</button>
                </div>
                <span href="#modalCondition" data-toggle="modal" class="custom-condition">自定义条件</span>
            </form>
            <!-- 图表面板 -->
            <div class="gui-table-panel clearfix">
                <p class="table-total" ng-show="isListView">符合条件的数据总计: {{tableTotal}} 项</p>
                <!-- 切换视图展示 -->
                <div class="view-type">展示方式
                    <i class="gui-icon icon-list highlight" ng-class="{'highlight': isListView}" ng-click="toggleView(true)" title="以列表视图展示"></i>
                    <i class="gui-icon icon-chart" ng-class="{'highlight': !isListView }" ng-click="toggleView(false)" title="以图形视图展示"></i>
                </div>
                <button class="gui-btn" ng-show="isListView" ng-click="exportData()">导出</button>
            </div>
            <!-- 图表区域 -->
            <div class="gui-content-slide">
                <div ng-style="{'transform': viewX}" class="content-wrap">
                    <div class="content-block">
                        <table id="entGrid" class="gui-table table-nowrap mt15" style="width: 100%">
                        </table>
                    </div>
                    <div class="content-block">
                        <div sg-chart options="vm.chartOptions" update="vm.chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modalCondition" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">请选择自定义条件</h4>
            </div>
            <div class="modal-body">
                <form novalidate="novalidate">
                    <div class="list-head">
                        <label>
                            <input type="checkbox" class="condition-checked-all" />全选
                        </label>
                    </div>
                    <ul class="gui-list list-condition">
                        <li class="disabled">
                            <label>
                                <input type="checkbox" checked disabled />所属行业
                            </label>
                        </li>
                        <li class="disabled">
                            <label>
                                <input type="checkbox" checked disabled>主体属性
                            </label>
                        </li>
                        <li class="disabled">
                            <label>
                                <input type="checkbox" checked disabled>主体状态
                            </label>
                        </li>
                        <li class="disabled">
                            <label>
                                <input type="checkbox" checked disabled>组织形式
                            </label>
                        </li>
                        <li class="disabled">
                            <label>
                                <input type="checkbox" checked disabled>主体类别
                            </label>
                        </li>
                        <li class="disabled">
                            <label>
                                <input type="checkbox" checked disabled>认证类型
                            </label>
                        </li>
                        <li class="disabled">
                            <label>
                                <input type="checkbox" checked disabled>所属区域
                            </label>
                        </li>
                        <li class="disabled">
                            <label>
                                <input type="checkbox" checked disabled>不良记录
                            </label>
                        </li>
                        <li class="disabled">
                            <label>
                                <input type="checkbox" checked disabled>主体身份码
                            </label>
                        </li>
                        <li class="disabled">
                            <label>
                                <input type="checkbox" checked disabled>注册日期
                            </label>
                        </li>
                        <li class="disabled">
                            <label>
                                <input type="checkbox" checked disabled>主体名称
                            </label>
                        </li>
                        <li data-key="legalName" >
                            <label>
                                <input type="checkbox" checked disabled>法人姓名
                            </label>
                        </li>
                        <li data-key="cardType">
                            <label>
                                <input type="checkbox">证件类型
                            </label>
                        </li>
                        <li data-key="creditCode">
                            <label>
                                <input type="checkbox">企业注册号
                            </label>
                        </li>
                        <li data-key="organizationCode">
                            <label>
                                <input type="checkbox">组织机构代码证
                            </label>
                        </li>
                        <li data-key="businessOperation">
                            <label>
                                <input type="checkbox">营业期限
                            </label>
                        </li>
                        <li data-key="address">
                            <label>
                                <input type="checkbox">详细地址
                            </label>
                        </li>
                        <li data-key="legalIdnumber">
                            <label>
                                <input type="checkbox">法人身份证号
                            </label>
                        </li>
                        <li data-key="legalPhone">
                            <label>
                                <input type="checkbox">法人联系电话
                            </label>
                        </li>
                        <li data-key="contactName">
                            <label>
                                <input type="checkbox">联系人姓名
                            </label>
                        </li>
                        <li data-key="idcode">
                            <label>
                                <input type="checkbox">联系人身份证号
                            </label>
                        </li>
                        <li data-key="contactPhone">
                            <label>
                                <input type="checkbox">联系人电话
                            </label>
                        </li>
                        <li data-key="contactEmail">
                            <label>
                                <input type="checkbox">电子邮箱
                            </label>
                        </li>
                        <li data-key="faxNumber">
                            <label>
                                <input type="checkbox">传真号码
                            </label>
                        </li>
                    </ul>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="gui-btn" data-dismiss="modal">取消</button>
                <button type="button" class="gui-btn" ng-click="confirmCondition()">确定</button>
            </div>
        </div>
    </div>
</div>